[2020-06-08 23:03] tiagostutz opened #1 "Welcome to Stop Analyzing Embed. Let's start?"
If you want to **contribute to this project, please create an issue asking for a task and provide a bit of information of how you can and would like to contribute.** A maintainer will come to you and  assign a suitable issue, giving all the needed details and guiding you through all the process.

This project follows the [Poppins MANIFESTO guidelines](https://github.com/bancodobrasil/poppins/) and

[2020-06-12 12:22] rafamarts opened #3 "Project infrastructure and design patterns"
Hi everyone,

I've created this issue for discussion about design patterns to be used in this project. I was checking the repository and saw that the project (package.js) is not in root directory, should it be like this?
Also, I think that we should define test coverage and add those information in CONTRIBUTING.md file. Each new TS file should have a test file located in a test directory in root d

[2020-06-12 13:10] tiagostutz commented on #3
Hi @rafamarts! Thanks for contributing to Stop Analyzing!

About your suggestions:

Yes. We will soon have a Dockerfile and docker-compose.yml files here for running the project locally and it is better to not mix those files with the actual code of the solution. So, we keep the source code in the app folder and all of other "accessories" stuff we keep outside.

That's a great suggestion. I think

[2020-06-12 13:30] rafamarts commented on #3
I would like to make my contribution coding. And then, when we have enough examples, I can contribute with CONTRIBUTING.md file if still need. Thank you!

[2020-06-12 17:24] tiagostutz opened #4 "Create 2 modes of selection: ChoiceMode or LikeMode"
@rafamarts this issue was created for you. Please, feel free to ask if you have any doubts and post your suggestions here so we can discuss.

The solution should support 2 modes of interaction: ChoiceMode between options or LikeMode where the user mark as like or deslike. This mode could be a URL parameter so all the components can autoconfigure based on this parameter.

At this issue you **don't

[2020-06-12 17:24] tiagostutz commented on #3
Nice.
I have invited you to be a collaborator of the project I've written the issue #4  to you. As soon as you accept the invite, I'm assigining the issue to you.

[2020-06-12 17:24] #3 closed

[2020-06-17 15:08] rafamarts commented on #4
Hello,

I just committed the both model in static version, and now I will implement the Drag&Drop and the images reload when the user choose the image.

Please, if someone (@tiagostutz ) could check and comment about the implementation.

Thank you!

[2020-06-17 20:54] rafamarts commented on #4
Hi,

I've added the Choice Mode. Please, check out if it is what you had in your mind.

Thank you!

[2020-06-18 01:58] tiagostutz commented on #4
Nice. I've just added some review notes in your commit.
One thing I mentioned there and I noticed I forgot to discuss here is that I think we should keep this Choice component we are building in this issue to 2 cards options, like the one shown in https://github.com/bancodobrasil/stop-analyzing/blob/master/README.md. This will simplify our design and code and still have great value. We can discuss

[2020-06-23 20:07] beatrizrezener opened #5 "I would like to contribute"
Hello 👋

I would like to contribute to this project.
I can help creating screens, components or styling them.
Another way could be adding a tool for static code analysis.

Looking forward to help. Thank you!

[2020-06-24 15:42] tiagostutz commented on #5
Hi @beatrizrezener !
Thanks for your interest in contributing to this project. I'm creating an issue for you right away.

[2020-06-24 16:06] tiagostutz opened #6 "Create Like Mode card style"
Build the CSS for the "Like Mode" in Card component. The like mode is the one that the user will interact by clicking in "like" or "deslike".

As this is the first styling issue we are opened to discuss suggestions on how to organize the CSS files. Do you have any?

[2020-06-24 16:07] tiagostutz commented on #5
What about this issue #6 @beatrizrezener ? Lets do it?

[2020-06-24 21:20] rafamarts commented on #4
You are right, I think only 2 cards for now is enough. Just made it. Please, review the commit and let me know if need something else for ChoiceMode.

I will work on LikeMode right now. Any suggestion for implement drag&drop? Should we use some library, if so, did you already work with some? I could review some and brings options.

Thank you!

[2020-06-26 07:20] bearcub3 commented on #6
@tiagostutz Hello, I'd like to contribute to your open source project. Thank you for creating this!  As a novice dev, lots of other issues labelled as first-timers-only seem intimidating or are taken by others already. haha!

[2020-06-26 08:06] bearcub3 commented on #6
@tiagostutz Hello, I'd like to contribute to your open source project. Thank you for creating this!

As you mentioned you are not going to use any CSS preprocessors, I'd like to suggest using styled-components for each component's styling and its variations and utilising Bootstrap4 for layout, components and so on at the same time.

or css module could be another option, but, if we don't plan well

[2020-06-26 11:24] tiagostutz commented on #6
Hi @bearcub3 ! That's so nice to have you on board. We hope we can help and learn together here and beyond!

Nice! I'll create an issue for you right away. Meanwhile, we can wait for the other contributor who requested a issue at #5 to see if she heads up here to get this issue. If she doesn't, I can assign this issue for you too.

What do you prefer: a more HTML/CSS issue, a more React issue or a

[2020-06-26 12:35] rafamarts commented on #6
Hello **@bearcub***,

I've liked so much of styled-components idea. I'm not the guy of CSS, but, it is not clear to me how we will use it in the practice. Are you planning to create one styled-component for each React component? I like this idea, cause it keeps the things organized.

I was wondering about the reuse of styled-components. Will we be able to reuse a styled-component, or part of it, b

[2020-06-26 13:36] giteshk11 commented on #5
Hi @tiagostutz, I would also like to contribute to this project.

[2020-06-26 13:38] bearcub3 commented on #6
Thank you for welcoming me. 👍
I can take on any HTML/CSS and React issues.
As I do not have much experience with unit testing, it would be nice to have some hands-on experience here as well.

😎 bring it on!!

[2020-06-26 13:40] bearcub3 commented on #6
@tiagostutz Thank you for welcoming me. 👍
I can take on any HTML/CSS and React issues.
As I do not have much experience with unit testing, it would be nice to have some hands-on experience here as well.

😎 bring it on!!

[2020-06-26 13:47] giteshk11 opened #7 "I would like to contibute"
Hi,

I would like to contribute to this project.
I can help in making designs come to life or style them.
I can help in making things dynamic using javascript.

Looking forward to contributing.
Thank you.

[2020-06-26 14:01] tiagostutz commented on #7
Hi @giteshk11 ! That's really good to have you here.

Nice, I'm opening an issue for you right away. As you said you can help either with HTML/CSS or dynamic JS, I'm supposing that a React Component issue would be a good idea for contribution, right?

[2020-06-26 14:04] bearcub3 commented on #6
Hello 👋  @rafamarts

Frankly I actually haven't used styled-components. I know it is widely used for many react developers, I wanted to give it a shot! All I can say is really to spend some time to read the documentation. Once you complete merging your branch to master, I may be able to take on styling based on your work so I can show you how I would do it.
I am very much keen to conducting best p

[2020-06-26 14:10] giteshk11 commented on #7
Hi @tiagostutz, I was talking about vanilla JS

[2020-06-26 14:22] tiagostutz commented on #7
Ok. So, as we are using React, I'll think about a util in vanilla JS or a pure HTML/CSS component. Ok?

[2020-06-26 14:27] giteshk11 commented on #7
Pure HTML/CSS components are good.

[2020-06-26 16:31] tiagostutz commented on #7
Nice! I'll create an issue for pure HTML/CSS then.. I'll come back later with your issue.

[2020-06-26 21:20] tiagostutz commented on #6
@bearcub3 I've just assigned this issue to you and will create another one to beatrizrezener  (#5), ok?

I know that @rafamarts is already coding some card parts and there could be some overlapping here, but don't worry. Please create the component **standalone** and them we organize all the stuff when the all the PR's are merged.

Sounds good?

[2020-06-26 22:58] tiagostutz opened #8 "Create a ProgressBar component to indicate if the user is reaching the end of selection"
Create a progress bar that will be placed on top of the ChoiceBoard to indicate whether the user is reaching the end of the selection, I mean, if the selection is reaching convergence.

I created a React component at https://github.com/bancodobrasil/stop-analyzing-embed/blob/master/app/src/components/ProgressBar.tsx with a specific CSS at https://github.com/bancodobrasil/stop-analyzing-embed/blob/

[2020-06-26 22:59] tiagostutz commented on #7
@giteshk11 I've created the issue #8 for you. If you want to take it, please let me know commenting in the issue.

https://github.com/bancodobrasil/stop-analyzing-embed/issues/8

Ok?

[2020-06-26 23:15] JapneetSingh5 commented on #7
Hi, I have some React experience as well, would love to contribute to your project!

[2020-06-26 23:33] tiagostutz opened #9 "Implement Hooks for ViewModels"
Hi folks! I'm working on a sample on how we are creating our components. I have an initial idea of how we can use hooks and the MVVM pattern, but would like to hear from others what are their thoughts on this.

One question, specifically would be: how do you separate your View Logic from the Model (fetch, ordering, list handlings, etc)?

[2020-06-26 23:36] tiagostutz commented on #7
Hi @JapneetSingh5 ! That's awesome.!! Welcome and let's start the trail..!

Can you take a look at this issue https://github.com/bancodobrasil/stop-analyzing-embed/issues/9 ?

Let's discuss and decide a pattern to follow on how to separate View and Model in the React components...

[2020-06-26 23:44] JapneetSingh5 commented on #9
I have generally seen flux architecture used with React+JSX/TSX apps.
Theres a components folder and a reduc folder with the sctions and store, all of them routed via App.jsx or some other Main Component.

[2020-06-26 23:46] JapneetSingh5 commented on #9
This is one approach i think https://medium.com/swlh/how-to-structure-your-typescript-react-redux-app-877d1eba1c1e

[2020-06-26 23:56] tiagostutz commented on #9
Nice..!
Well, I like the Flux architecture, but particullary don't like the Redux implementation of it because I think it makes the code too verbose and with lots of indirections. I prefer the new Hooks approach introduced in React 16. It makes the code cleaner at the same time it keeps the compnent state safe.

Have you ever worked with Hooks? If os, any thoughts on how to separated the Hooks fro

[2020-06-27 00:16] bearcub3 commented on #9
MVVM sounds great!

When it comes to SOC, I am learning Redux at the moment. So, I’d like to talk about it.
having connected(container) components which hold the state of store would be another option. Well... whether we use Redux or not, the same rule applies.  Container components pass each state(model) as a prop to their children components. So, we can easily separate the presentational compone

[2020-06-27 00:24] bearcub3 commented on #9
I know what you mean. You have to create lots of action creators to manipulate states. But, for the large scale app, it may be something we need to compromise?
I don’t know much about hooks yet. look forward to learn more!

[2020-06-27 01:09] tiagostutz commented on #9
That's a good point and, to be fare, I've worked in large scale apps and Hooks with some helpers just worked fine for the team. I tried Redux in small and large projects and always struggled with the over-engineering, migrating it for a simpler solution. Before Hooks existed I have even implemented a (framework called Rhelena)[https://github.com/tiagostutz/rhelena] that had a cleaner approach to M

[2020-06-27 03:49] giteshk11 commented on #8
Hi @tiagostutz, I can take up this issue.

[2020-06-27 04:04] tiagostutz commented on #8
Nice.!
I'm waiting for your PR.

Thanks.

[2020-06-27 06:54] JapneetSingh5 commented on #9
Honestly, I have struggled with over engineering in redux as well. Hooks is a very nice comcept, but I have like very little experience with it.
Saying that, lets go with hooks, it will be a great learning opportunity.

[2020-06-27 07:50] bearcub3 commented on #9
I see. Hooks sound great! This will be another learning opportunity for me as well.
Let's go for it!

[2020-06-27 13:43] tiagostutz commented on #9
Great!
I'm working on a sample component that uses Hook to be used as a reference and in two issues for you to grap. As soon as they are ready I'll link them here.

Thanks again! It will be a great experience.

[2020-06-27 15:23] #6 closed

[2020-06-27 15:42] tiagostutz opened #12 "Add support for localization"
Configure localization on the app using `i18next` and `react-i18next` and replace some hard coded texts with the localization resource.

[2020-06-27 15:43] tiagostutz commented on #9
@JapneetSingh5 how about this issue https://github.com/bancodobrasil/stop-analyzing-embed/issues/12 ? If you think you can take it, give a heads up there, please.

[2020-06-27 15:45] JapneetSingh5 commented on #12
sure, i will do this.
will make a pr by the next weekend, slightly busy right now

[2020-06-27 16:06] tiagostutz commented on #12
Awesome! Thanks.!

Take your time.

[2020-06-27 16:23] tiagostutz opened #13 "Review, fix and complement TimerComponent.test, useTimerComponentModel.test and Card.test"
All of the tests are using [testing-library](https://testing-library.com).

In the Card testes, check why they are failing: the test is outdated or the component has issues.

In TimerComponent and useTimerComponentModel, create tests to help develop them and guarantee that different scenarios don't break the component and, if wrong parameters are passed, the component should notice that and return

[2020-06-27 16:24] tiagostutz commented on #9
@bearcub3 I've create this issue https://github.com/bancodobrasil/stop-analyzing-embed/issues/13 that mixes Hooks, Component SOC and Testing. Want to grab that? If so, please comment in there in the issue and I will assign it to you.

[2020-06-27 16:58] bearcub3 commented on #9
@tiagostutz sure, as I do not much practical react testing experience yet, it may take some time. I will take it!

[2020-06-27 19:54] tiagostutz commented on #9
@bearcub3 that’s perfect! Don’t worry about the time, the important thing here is go keep going.

I don’t know if you have noticed on README, but this project is a [Poppins project](https://github.com/bancodobrasil/poppins) and hence the main goal here is the open source learning process/path, so there’s no rush on time boxes. We are all learning together. BTW you are going very fast... that’s bee

[2020-06-28 09:30] bearcub3 commented on #9
@tiagostutz  Yes, I already have read the README and that sounds really ideal for people like me. Thank you for taking the initiative. I have a limited development experience and want to keep the pace of CI/CD development. 😄

I have accepted your invitation yesterday evening. I am wondering if I am a part of the team now.

[2020-06-28 09:31] bearcub3 commented on #13
@tiagostutz assign to me, please! 😁

[2020-06-28 14:34] #9 closed

[2020-06-28 21:23] #8 closed

[2020-06-28 21:27] tiagostutz commented on #7
Hi @giteshk11 !
I just sent you an invite to join the team. It would be nice if you could accept it. =)

Would you like me to create another issue for you?

[2020-06-29 03:27] giteshk11 commented on #7
Hi @tiagostutz,
Thank you, I have accepted the invite.

Yes please, create another issue for me.

[2020-06-29 13:47] beatrizrezener commented on #5
Hello @tiagostutz, I couldn't help on #6, but I'm excited that styled components have been chosen.

I have more time this week, would it be possible to get a new issue?

[2020-06-29 17:09] tiagostutz commented on #5
Absolutely, @beatrizrezener !

@bearcub3 would you like to open that issue about building the tests for the events of the cards?

If you don't have time to do, I can create the issue. But if you want to do so, go on.

[2020-06-29 17:16] bearcub3 commented on #5
@tiagostutz If you don't mind, yes please do so. I will take the other test issue and rework the previous one based on your comment tomorrow.  Cheers!

[2020-06-29 17:24] tiagostutz commented on #5
Sure, @bearcub3 ! I got this. Thanks a lot! =)

@beatrizrezener I'm working on your issue today and will let you know when its ready.

[2020-06-29 17:50] eduardomrodrigues commented on #13
@tiagostutz, can I change div to img tag?
I think it's better for semantic reasons

[2020-06-29 18:02] rafamarts commented on #4
Hi Tiago,

I have finished the LikeMode. I made a simple drag&drop, please, if you have suggestion to do it in different way, let me know. I will work on tests.

Thank you!

[2020-06-29 18:37] tiagostutz opened #15 "Should we change <div> to <img />"
Hi! I'd like to discuss whether we should change the <div> with background approach by a <img/> tag.
What are the pros and cons?

[2020-06-29 18:39] tiagostutz commented on #13
Good point, @eduardomrodrigues !
I opened the issue #15 to discuss this question. I think that's a good idea. What do you think?

[2020-06-29 18:41] tiagostutz commented on #4
Awesome, @rafamarts !
I'll wait for the PR to review the drag&drop feature. Thanks for the surprise! Drag&Drop will be a very handy interaction.

[2020-06-29 21:00] bearcub3 commented on #13
@eduardomrodrigues  I am open for the discussion! I'd like to hear what you think. 😃

[2020-06-29 21:33] eduardomrodrigues commented on #13
Hi, @bearcub3! Nice to meet you! Thank's for this opportunity! Let's take this discussion on #15 ?

[2020-06-29 22:02] eduardomrodrigues commented on #15
In my opinion, this tags must change, why? Let me explain:
My major argument is the semantic of HTML's tag. In Card react component, the image is really significant, mean something very important, it's a part of content, so this is a <img>. The <div> with background means to HTML a beautiful div and this is not what the Card image means. **When we lost the semantic of HTML, we lost the accessibili

[2020-06-29 22:04] JapneetSingh5 commented on #15
I agree with @eduardomrodrigues. For the transition part we can harvest some react library, I'm sure we will find one which solves our particular problem.

[2020-06-29 22:09] JapneetSingh5 opened #17 "Add eslint and prettier workflows"
I think adding a linter and prettier would be fruitful in the long run as the codebase grows. It will also help keep the code uniform for all the contributors and maybe even introduce first-timers to these concepts.
We can add Github Actions workflows as well.

[2020-06-29 22:23] bearcub3 commented on #13
Hello 👋 @eduardomrodrigues, yes go ahead!

[2020-06-29 22:25] bearcub3 commented on #17
I thought of that, too. that's a good idea!

[2020-06-29 22:44] lucasravy opened #18 "I would like to contribute. =)"
Hey there! :grin:

I would like to contribute to this project. Is there anything I can help with?
I can do some stuffs with HTML, CSS and JavaScript. I think I can manage somethings with Typescript as well, although I don't have much experience.

Looking forward to contribute. :smiley:

[2020-06-29 23:15] bearcub3 commented on #15
@eduardomrodrigues
First of all, thank you for your opinion. I was wondering if you know the benefit of the Semantic markup.
It's not only for the accessibility but also for SEO optimization as well. As you mentioned about the accessibility, I am not sure if you have checked my codes. I already have added the role and aria-label attibutes for the divs in order to make the them more accessible and

[2020-06-29 23:24] bearcub3 commented on #15
I don't think you are wrong. There are so many ways to add images into the DOM. and sometimes the simplest and straight-forward solution is the best one.

[2020-06-30 00:31] eduardomrodrigues commented on #15
@bearcub3, first of all! Very rich comment!
When I saw this discussion I believed the <img> tag was undoubtedly the best. But your comment show me I was wrong.
You have very good points!
I'll try to make my argument stronger:
With semantics in mind, the <img /> and the <div /> with background image have significant difference.
For instance, when I ask to myself what are the Card Component children

[2020-06-30 02:26] tiagostutz commented on #17
Sounds great!
@JapneetSingh5 do you want to grap this one and pass the #16 to another person or do you want to pass this one here to someone else?

[2020-06-30 02:47] #12 closed

[2020-06-30 02:52] tiagostutz commented on #18
Hi @lucasravy ! Welcome on board..!

I got this..! I'm working on a issue for you and will link it back here asap.

Cheers! 🥂

[2020-06-30 03:03] tiagostutz commented on #18
I was thinking about opening an issue regarding to Dockerizing the project. Would you like to take that to begin?

[2020-06-30 03:25] tiagostutz commented on #15
Background image have save me thousands of time when <img/> just behaviored odd in different browsers. But I think this era is over and the browsers are behaving pretty much the same now.

As we can achieve the same levels of accessibility and SEO on both approaches, I think we should go with `<img />` because at the most basic level of HTML/CSS, `background-image` is intented for styling the cont

[2020-06-30 03:33] tiagostutz commented on #4
@rafamarts I'm a bit worried with your PR as the project is growing. That's my fault because I opened an issue too big for you, sorry about that.

So, if you want to open the PR with the LikeMode only, I think that's a good ideia. I don't know if you have checked the [CONTRIBUTING.md](https://github.com/bancodobrasil/stop-analyzing-embed/blob/master/CONTRIBUTING.md) lately, but I updated it with s

[2020-06-30 09:20] lucasravy commented on #18
@tiagostutz that would be great! Count me in! :nerd_face:

[2020-06-30 09:26] JapneetSingh5 commented on #17
Yeah sure, no problem!

[2020-06-30 09:47] bearcub3 commented on #15
ok, I am cool with the unanimous decision. Everyone think `<img />` is more appropriate.  That's the way we should go then. I thought images were mainly for styling. 😄

[2020-06-30 11:10] tiagostutz opened #19 "Dockerize the application"
To have a deployment ready application, it would be great to have it Dockerized. To do so, we should have, basically 5 things:
1. **Create a Dockerfile**
1. **A `docker-compose.yml` with `build` directive to run locally**
1. **README with instructions on how to ruin and build locally**
1. A configured CI that will be triggered to build the image in DockerHub as new releases are created here in the

[2020-06-30 11:14] tiagostutz commented on #18
Awesome.!
I've just created the issue #19 . If are able to grab that, please reply me [there](https://github.com/bancodobrasil/stop-analyzing-embed/issues/19) so I can assign it to you. 🏃

[2020-06-30 11:19] tiagostutz commented on #15
All right.!

@giteshk11 would you like to take this one to try out with styled-components? 🤓

The task is relatively simple, to change the image the card image from `<div>` to `<img>`.

[2020-06-30 11:28] giteshk11 commented on #15
@tiagostutz Sure, I'll start working on it.

[2020-06-30 15:12] #15 closed

[2020-06-30 15:17] giteshk11 commented on #19
@tiagostutz  can I try this?

[2020-06-30 16:00] tiagostutz commented on #18
@lucasravy I've just assigned #19 to @giteshk11, ok?

I'm working on a new issue for you right away. 👟

[2020-06-30 16:02] tiagostutz commented on #19
Sure, @giteshk11 !
Just assigned to you. If you need any help, let me know.

Just a suggestion, there's this light web server that you could consider: https://github.com/lwsjs/lws/, but feel free to bring your preferences.

[2020-06-30 16:31] giteshk11 commented on #19
@tiagostutz just a quick question, do we need any OS as a base in the container?

[2020-06-30 18:25] lucasravy commented on #18
@tiagostutz Thats ok. Still waiting 😁

[2020-06-30 19:01] tiagostutz commented on #19
In most cases we need an OS, prefering the smaller ones like alpine or debian stretch-slim, but if you have any option that brings up a web server from scratch, that's ok also. Also, you could search for a ready-to-go Docker imagem with a web server.

What web server are you planning to use?

[2020-06-30 19:07] giteshk11 commented on #19
I'm thinking of Nginx or the link you shared before we can use that too.

[2020-06-30 20:05] eduardomrodrigues commented on #17
Very good ideia, @JapneetSingh5! I'm on it! Thanks for this opportunity!

[2020-06-30 20:11] tiagostutz commented on #17
Awesome!

The issue is yours, @eduardomrodrigues .!

Tell me if you need any special access on the repo to make this configurations.

@JapneetSingh5 would you like to point any particular projects as references?

[2020-06-30 20:24] JapneetSingh5 commented on #17
I follow this gist myself, I generally use the airbnb style guide.

https://gist.github.com/bradtraversy/aab26d1e8983d9f8d79be1a9ca894ab4

[2020-06-30 20:25] tiagostutz commented on #19
Well, I think we can use this opportunity to increment the open source experience a little bit. What about opening a issue on https://github.com/lwsjs/local-web-server asking whether there is an official Docker image and offering to build it if there isn't one? What do you think?

[2020-06-30 20:49] eduardomrodrigues commented on #17
The project has this [eslint-config-react-app](https://www.npmjs.com/package/eslint-config-react-app), I learn about it and, for me,  it's sufficient, can be configurable and we don't have to eject the project.
This [Prettier and Style guided](https://gist.github.com/bradtraversy/aab26d1e8983d9f8d79be1a9ca894ab4) are awesome.
I'll put this all together and make a proposition for you

[2020-07-01 05:47] giteshk11 commented on #19
Sounds good to me.

[2020-07-01 15:00] giteshk11 commented on #19
Hi @tiagostutz, I'm having some issues with docker on my machine and I'm not able to figure out. Can you assign this to someone else?

[2020-07-01 16:37] tiagostutz commented on #19
Sure! I'll create another issue and assign it to you.

[2020-07-01 16:39] tiagostutz commented on #18
@lucasravy how about #19 ? It is still available... By the way I think this issue can become a interesting open source experience. Take a look at this comment: https://github.com/bancodobrasil/stop-analyzing-embed/issues/19#issuecomment-652023800

[2020-07-01 16:39] tiagostutz commented on #18
If you want to grap that, please comment on the issue.

[2020-07-01 18:19] lucasravy commented on #18
@tiagostutz, I would like to try to solve this issue. :grin:

[2020-07-01 18:24] lucasravy commented on #19
Hey guys, I would like to try. Can I work on this?
:grin:

[2020-07-01 19:03] tiagostutz commented on #19
You got this, @lucasravy .!

Wanna try to open the issue in the local-web-server project?

[2020-07-01 19:08] tiagostutz commented on #18
Assigned my friend!

[2020-07-01 19:08] #18 closed

[2020-07-01 20:56] lucasravy commented on #19
@tiagostutz nice! Thanks for the challenge.

I'm working on it right now. As soon as I get the issue's number from [local-web-server](https://github.com/lwsjs/local-web-server) repository, I'll let you know here.

:nerd_face: :computer:

[2020-07-01 21:26] lucasravy commented on #19
The [issue](https://github.com/lwsjs/local-web-server/issues/151) has just been opened!

Quick question: If the official image docker proposal don't work, we're gonna create our own using the same solution, right? So: **alpine** as S.O base + **local-web-server** as web server. Is it good for a start?

[2020-07-01 22:03] tiagostutz commented on #19
If it doesn't work, I suggest you create the image on your own user and then use it to Dockerize this application here. Sounds good?

[2020-07-01 23:28] eduardomrodrigues opened #22 "Create a Git Hook with Prittier and ESLint"
Before commit, make the prittier and ESLint run in the code and abort when ESLint show error

[2020-07-01 23:33] lucasravy commented on #19
Sounds great! Deal!

[2020-07-01 23:56] tiagostutz commented on #22
That will be awesome!

@JapneetSingh5  want to take this one?

[2020-07-01 23:57] JapneetSingh5 commented on #22
Sure, this refers to Github Actions workflow right @eduardomrodrigues ?

[2020-07-02 00:13] eduardomrodrigues commented on #22
@JapneetSingh5, I started to read about it and I found this: [husky](https://www.npmjs.com/package/husky)
Now I started to avaliate this solution, the entire control of hook is in client machine, maybe it's a problem, but is very easy to configure, my test ran in 10 minutes of coding.
I don't understand Github Actions yet, I'll have to learn about it, but I really wanna, because the CI/CD lifecycl

[2020-07-02 00:15] JapneetSingh5 commented on #22
If you want to work on this issue and you have already done some great research, go ahead and do it 👍🏻👍🏻. I will be happy to collaborate if you feel stuck anywhere ☺️☺️

[2020-07-02 00:16] JapneetSingh5 commented on #22
You can configure a basic workflow from the actions tab I think. Github's official documentation is also pretty nifty to learn about actions.

[2020-07-02 01:31] eduardomrodrigues commented on #22
Alright! I'm on it! Thank you!

[2020-07-02 18:21] #17 closed

[2020-07-02 21:25] tiagostutz opened #23 "Theming vs Styled Components. Any thoughts?"
I was thinking about creating a theming structure for this, but I was wondering how to do so with styled components. I mean, I'd like to make it possible for a CSS person that knows how to build a Bootstrap theme, Material Design theme to build a  SA (Stop Analyzing) theme just knowing the CSS rules that must be built, in the same way with those UI Frameworks.
But, with styled components it seems

[2020-07-02 21:34] tiagostutz commented on #5
Hi there @beatrizrezener .... first of all: I'm really sorry for the delayed.... I got a bit desorganized here and couldn't open another issue for you in the expected timing. Sorry for that.

I was thinking whether you would like to help @rafamarts on #4 . I mean, I created an over-sized issue and maybe if you could give him some help we could end this over-sized issue before the code becomes too

[2020-07-02 23:29] beatrizrezener commented on #5
Hi, Thiago!
Sure! If he tells us that I can help with something, I can contribute with that.

[2020-07-02 23:31] beatrizrezener commented on #4
Hello, @rafamarts!
As suggested by @tiagostutz and given that this issue has a big amount of work, can I help you in any way?

[2020-07-02 23:52] rafamarts commented on #4
Hi @beatrizrezener !

Thank you! I've finished the rebase right now, and I will push it soon. Could you please review and check if is missing something? We can make a to-do list and divide the work.  Maybe, @tiagostutz could also review it and help us to make the to-do list. Is it good for you?

[2020-07-03 00:43] rafamarts commented on #4
@tiagostutz

Wow! It was a huge rebase. I left the ChoiceMode as it was. The merge only added the **id** in **ChoiceCardProps**, and also passed through the cards props to onClick function.

I didn't worry about the design (CSS), maybe it could be done by @beatrizrezener in a new issue. What do you think?

Please, let me know if I can create a PR, or if we will review and make a to-do list.

Thank

[2020-07-03 11:57] giteshk11 commented on #23
Sure I can work it.
I think we can use mix and match both approaches maybe and I don't have much idea about styled-components.

[2020-07-03 12:33] bearcub3 commented on #13
Hello 👋  @tiagostutz, I won't be able to participate for a while. I have just started building an app and it has limited time to complete it for the submission. I will try to complete the test based on your review asap and then close this issue.

[2020-07-03 13:00] bearcub3 commented on #23
styled-components has the same concept like react UI components, breaking it down and make them reusable as components, they are just styled elements composed like react components. When it comes to theming, my understanding so far wouldn't be the same as other bootstraps as I mentioned before since we actually build pre-stylied components, we don't create the styles based on classes. The other go

[2020-07-03 18:48] tiagostutz commented on #23
@bearcub3 thank you for your explanation.!!

I know that I've agreed with styled components, but as this will limit the possibilities of contribution because new contributors that are HTML/CSS devs and don't know React and styled components won't be able to contribute in theming and I think this would be a signficant drawback.

So, I'm proposing for us to go to a more CSS native approach, more lik

[2020-07-03 19:25] tiagostutz commented on #13
Hi there @bearcub3 !! ❤️

First of all, thanks for all your contributions. You've been such a great community member. I hope you are enjoying the experience as much as we are enjoying to have you here.

About the issue, don't worry. If you could finish it, it would be great, but if it is not possible, that's not a problem at all. We can assign it to someone.

I hope you could come back asap and if

[2020-07-03 19:47] tiagostutz commented on #4
Hi @rafamarts !! Yoo.. huge rebase indeed! Thanks for your patience on that... ehehehehe...

You can plase open the PR and then we will review together there. I think it will be smoother now.! 😄

[2020-07-04 13:08] eduardomrodrigues commented on #22
DevTeam, after my studies I have this conclusion: the husky is the best solution to this phase of our project
This is my report:
- The Github actions are normally used for entire CI/CD cycle, the Lint and tests are tasks for this;
- [Husky](https://www.npmjs.com/package/husky) works in pre-commit and pre-push phase, ideal for using prittier

Husky was successful deployed and generate this:
https:/

[2020-07-06 13:28] #22 closed

[2020-07-06 13:33] tiagostutz commented on #19
Hi @lucasravy !

I think we waited enough time for the reply of **local-web-server** maintainers, right?

What do you think of opening a repo on your own GitHub user for this Docker image with a great README, publishig it to https://hub.docker.com and referencing it in the issue you opened?

**Tip for the README**: https://codarium.substack.com/p/my-secret-sauce-to-make-github-repositories

[2020-07-06 14:37] lucasravy commented on #19
Hey @tiagostutz!

I've already done [that](https://hub.docker.com/repository/docker/lucasravy/local-web-server-alpine) (except the great README tips, thanks btw :grinning:) and I'm testing the image on our project. I'm having some troubles with the image size but I think I have the solution and I'll be able to open a PR in the next couple of days.

[2020-07-06 14:42] tiagostutz commented on #19
Fantastic, @lucasravy !

Can't wait to check it out. 🤓

[2020-07-06 21:37] eduardomrodrigues opened #26 "ESLint auto fix import order"
With ESLint put order on imports, like third-party imports should come before local ones.
Should be autofixes

[2020-07-08 13:36] tiagostutz commented on #26
Excelent work!

[2020-07-08 13:36] #26 closed

[2020-07-08 13:41] tiagostutz commented on #7
@giteshk11 would you like to build a theming structure purely in CSS? I'd open a issue for you if you would like to do so.

[2020-07-08 13:53] giteshk11 commented on #7
Sure, @tiagostutz I would like do to it. Can you give me so reference links so that I could get to know a better way to do it?

[2020-07-08 14:53] eduardomrodrigues opened #29 "I would like to contribute"
Hi, devteam!

I can contribute with developer some react components!

Thank you!

[2020-07-08 15:31] JapneetSingh5 commented on #7
Hi, theming is something I also haven't worked on, can I contribute too? How do I start with it?

[2020-07-08 17:11] #19 closed

[2020-07-08 17:20] #4 closed

[2020-07-08 22:35] tiagostutz opened #30 "Create a "Pinterest like" Card style using a theming approach"
Create a theming structure for the application implementing as the first use case Pinterest style card, like this https://business.pinterest.com/advertise/#ad-formats

<img width="400" alt="Captura de Tela 2020-07-08 às 19 31 04" src="https://user-images.githubusercontent.com/3986989/86976841-bf0c7d80-c151-11ea-97a8-2d054bb48ab7.png">

@giteshk11 @JapneetSingh5 I'll get some references to paste h

[2020-07-08 22:36] tiagostutz commented on #7
Nice my friends!!

Let's start the discussion in #30 then. 🧑‍🏭

[2020-07-08 22:39] tiagostutz commented on #29
Hi @eduardomrodrigues ! Thanks for your valuable contributions!

I'll create another issue for you asap.  Meanwhile, if you could, please take a look at #30. Maybe you could give some help there.

[2020-07-08 22:42] tiagostutz commented on #23
Hi everyone. As we started a more focused discussion towards implementation in #30 I'm closing this issue. But if someone wants to reopen this discussion, please reopen the issue and feel free to bring back the discussion.

Thanks for all the contributions. It's been a honor.

[2020-07-08 22:42] #23 closed

[2020-07-08 22:46] tiagostutz commented on #5
Hi @beatrizrezener ! ☀️

What do you think about offering a helping hand to finish @bearcub3 work in #13 by the PR #14 ?

[2020-07-09 00:27] beatrizrezener commented on #5
Hello, @tiagostutz! Unfortunately I will need to stay a week away, starting tomorrow. If when i return the issue is still open, I will be happy to collaborate!

[2020-07-09 00:35] tiagostutz commented on #5
That’s ok! Thanks for your valuables contributions here.!

When you come back, wave your hand and will see if this or other issue needs help. ❤️

Best regards.! 🙏🏻

[2020-07-09 00:46] lucasravy opened #31 "Pre-receive hook script for the PR's"
:grin: Howdy!

I have notice that one of the contributors is missing both on avatars and on the collaborators' page, although their commits can be seen via `git log` command. I think I know what happened here: we can see that the pattern of some commits (author's info) is unknown by Github,  it seems like this is possibly a corporative standard and this is pretty common for us developers who use g

[2020-07-09 02:44] reedhop24 opened #32 "I would like to contribute"
Hello!

I would love to contribute in any way I can! (Be gentle this is my first time opening an issue)

Thanks,

[2020-07-09 03:27] tiagostutz commented on #32
Hi @reedhop24 ! 👋
I really hope you are doing well..!

First of all, t**hank you so much for offering your help**. It will be really nice to have you on board. 🚀

As I'm going to create an issue specially to you, I'd like to know a bit more about what are the technologies or skills you have and what kind of work you prefer. Are you a React Dev? Are you a HTML/CSS expert? Do you have any design and

[2020-07-09 03:42] reedhop24 commented on #32
@tiagostutz,

Professionally I work with HTML, CSS and React. I am highly proficient with all three and would love to be able to build/edit any components you need worked on!

Thanks so much!

[2020-07-09 04:06] tiagostutz commented on #32
Awesome.! That’s really great news.

I’m thinking that maybe you could share some ideas on [#30](https://github.com/bancodobrasil/stop-analyzing-embed/issues/30) while I prepare your issue to start. It would be another valuable contribution you could give and at the same time get to know a bit more about the project.

What do you think? Sounds good?

[2020-07-09 04:42] reedhop24 commented on #32
Was the final decision to create a mix n match between styled-components and theming? I am a little confused on how a theme would work because as @bearcub3 points out, we don't create the styles based on classes. Since I am currently a little unsure how to implement a theme maybe I can get my feet wet with this first issue then revisit a little later.

Thanks,

[2020-07-09 11:43] eduardomrodrigues commented on #29
Hi, @tiagostutz! Off course, will be my pleasure!

[2020-07-09 16:55] finhaa opened #33 "I would like to contribute!"
Hey!

I would like to contribute to this project. I would be delighted to contribute to this project, although i don't have much experience. I can work with HTML, CSS and JavaScript (already worked with React Native but I don't know much about React).

[2020-07-11 13:47] tiagostutz commented on #33
Hey @finhaa !! Nice to have you on board!
I'm going to open a issue for you, but meanwhile, feel free to check other issues and if you have some thoughs to share on them, be yourself at home.

I'll come back here with your issue.
Cheers!

[2020-07-11 13:49] tiagostutz commented on #31
That's a great ideia! Would you like to grab this @lucasravy ? Or maybe you @eduardomrodrigues ?

[2020-07-11 13:51] tiagostutz commented on #32
Hi @reedhop24 ! Sorry for the late respose. Though week here... but everthing is just fine now.

The final decision was not to go with styled-components because it restricts the contribution of devs that are not React used ones but are great at CSS and design systems.
I'll get some references on how to build themes with CSS and will paste in #30 for us to discuss.

[2020-07-12 18:10] eduardomrodrigues commented on #31
That's really great idea, @lucasravy! Can I get in?
Just a single doubt, what kind pattern of  user's email  will we use?
Thank you!

[2020-07-13 01:18] reedhop24 commented on #32
Hello @tiagostutz

No problem at all! Sounds good, I will look for that discussion. In the meantime, are there any other components that need worked on/built?

Thanks,

[2020-07-13 11:47] tiagostutz commented on #31
@eduardomrodrigues  to be fare I really don't know an easy way... if it is possible, the hook could check the forks of the project (like https://github.com/bearcub3/stop-analyzing-embed/network/members) and then check whether the commiter's e-mail is present in the list of users that forked the repo.

Maybe there's some solution/hook that already addresses this issue, but if there's not, you could

[2020-07-13 14:27] tiagostutz commented on #30
Some references:
- http://www.csszengarden.com/: this is old, from my early CSS days, but is a good inspiration on how it is possible to themefy a content using pure vanilla CSS
- https://blog.logrocket.com/how-to-create-better-themes-with-css-variables-5a3744105c74/ : some directions on CSS variable, which is somethig really useful for this work on themes
- https://codepen.io/michellebarker/pen/z

[2020-07-13 14:29] finhaa commented on #30
Hey @tiagostutz

There is somebody working in this issue? I would be happy to help here, but I didn't quite understand how to work on it.

[2020-07-13 19:17] eduardomrodrigues commented on #31
@tiagostutz, that's a good way to test my skills! Thank's for opportunity!
I'm on it

[2020-07-13 21:44] lucasravy commented on #31
Hey fellows!

I was looking for some info to help with this issue and I found an article (link bellow). I could be wrong, but it seems to be possible only in an enterprise version for GitHub and I don't know if that is the case.

https://docs.github.com/en/enterprise/2.19/admin/developer-workflow/about-pre-receive-hooks

[2020-07-13 23:44] tiagostutz commented on #33
Hey @finhaa what about finishing [this](https://github.com/bancodobrasil/stop-analyzing-embed/pull/14) @bearcub3 PR #14 , by implementing the reviews and solving the conflicts so it can be merged?

If you could take that, I will assign the issue #13 to you and you can share your doubts in that issue and we will help you with this. As you have noticed, you will clone and commit directly to @bearcub

[2020-07-13 23:46] tiagostutz commented on #30
Hi @finhaa !! I just answeared you in another issue and now noticed you have asked for this issue here... ehehehehe...
Well, could you take a look at that one first and them come back to this (if it is still available)? I mean, the issue #13 is getting old and I think we should close that, so if you could help us on that it would be really helpful.!

What do you think?

[2020-07-13 23:47] tiagostutz commented on #7
Hi there @giteshk11  and @JapneetSingh5. Are you guys interested in grabbing the #30 ?

[2020-07-13 23:48] #5 closed

[2020-07-13 23:48] #29 closed

[2020-07-14 01:25] tiagostutz opened #34 "Implement ChoiceBoardModel with Hook"
Using Hooks, implement the ChoiceBoard component Model (to know what a model is, check how the TimerComponent was implemented).

This Model (Hook) will have:
1.  the initial 2 choice options
1. a list of already chosen itens
1. a variable to register the progress (decimal)
1. a method hat will be invoked when the card is clicked (chosen) and that will add the selected item to the list of chosen it

[2020-07-14 01:27] tiagostutz commented on #32
Hi there @reedhop24 ! 🧑‍🏭

I just created the issue #34 for you. What do you say? If you want to get that, please comment on the issue and I'll assign it to you immediately!

[2020-07-14 01:32] reedhop24 commented on #34
Hi Tiago,

I would love to be assigned to this issue.

Thanks,

[2020-07-14 02:14] tiagostutz commented on #34
Sweet! it's yours.! 🚀

[2020-07-14 02:14] #32 closed

[2020-07-14 11:09] eduardomrodrigues commented on #31
Thank's a lot, @lucasravy! I'll follow the @tiagostutz ideia.
I'll create a node module with GitHub API integration.
Here:
https://github.com/eduardomrodrigues/git-check-author

[2020-07-14 20:19] finhaa commented on #30
Yeah hahahah i just saw the issue #13 and was analyzing the discussion in the PR #14. Im going to comment in the other issue I created for accept  what was proposed.

[2020-07-14 20:22] finhaa commented on #33
Yeah, I accept this. I don't know much about unit tests but I believe I can contribute if I have help!

[2020-07-14 20:27] tiagostutz commented on #33
Nice! Comment on the issue #13 please so I can assign that to you, Ok?

[2020-07-14 21:47] finhaa commented on #13
Hi @tiagostutz! Can I get this issue for complete?

[2020-07-14 22:03] JapneetSingh5 commented on #30
Hi! Thankyou for this. I'll look into it and hopefully open a PR before weekend!

[2020-07-14 22:26] eduardomrodrigues commented on #31
Good night, my friends!
My solution is under construction but now, I have a big issue, with GitHub API I can take all project members, with this member ID, I can get all user info. The problem is this email is a private property by default, so I can't achieve it.
Other solution is take the user email from ./git in filesystem but, this works only if the user set this without --global parameter
Any

[2020-07-14 23:31] tiagostutz commented on #13
Sure, go on!

Thanks for your help on that, @finhaa !

[2020-07-14 23:32] #33 closed

[2020-07-14 23:34] tiagostutz commented on #30
Awesome, @JapneetSingh5 !

Just assigned that to you.

[2020-07-15 02:29] reedhop24 commented on #34
Hello Tiago!

While I was looking into implementing the ChoiceBoardModel I had a few questions:

-  Would I be correct in assuming that the URL is what needs to be stored for each selected choice?

- Will the ChoiceBoardModel make a call to a back end in order to receive the URL's for the new selections after a user is done with the current selections?

- If the above is correct then would it also

[2020-07-15 15:52] tiagostutz commented on #34
I think we could store the id of the selected choice. So, consider that the JSON of a choice will be as follows:
[code]

Makes sense?

Yes, it will. Each selection will be a POST to the backend. The backend will then register the selection and return the next 2 choice options.

Yes, correct. I think you could use mocks meanwhile. If you would like to know how the data will look like you could take

[2020-07-16 19:51] tiagostutz commented on #31
Hi @eduardomrodrigues I'm thinking here... big issue! ehhehehehehe...
@flaviostutz any thoughts?

[2020-07-17 15:19] GusFiuza opened #35 "I would like contribute"
Hi,

I'm just started in Open Source world and I would like contribute for this project.

I have some knowledge about HTML, CSS and JavaScript.

How can I help you?

[2020-07-17 16:03] tiagostutz commented on #35
Hi @GusFiuza !! Welcome on board.!

Nice, I'm working on an issue for you right now. Meanwhile, let me ask you something: do you have any experience with creating CSS theme structure? If you have, you could share some thoughts at https://github.com/bancodobrasil/stop-analyzing-embed/issues/30. If you don't have but would like to contribute making a quick research about that and sharing some useful

[2020-07-17 16:12] giteshk11 commented on #7
@tiagostutz i was looking into tailwind css the other day and it looked promising. what's your view on that?

[2020-07-17 16:35] tiagostutz commented on #7
Hi there @giteshk11 👋

Well, I took a look at Tailwind some time ago and it appeared to be a really good way to follow. My only concern was that the theming part of it is based on JavaScript/JSON and not CSS or SASS/LESS. I mean, if you check those JS files they are very simple and straightforward, but I this approach limits the CSS tooling and expertise we have available because this code is now

[2020-07-17 16:52] giteshk11 commented on #7
Hi @tiagostutz ,

I just got started with tailwind and i also impressed by it. It gives more control and flexibility over the bootstrap, plus tailwind looks aesthetically good as you mentioned before.

The approach of using JavaScript for CSS makes me feel at one point it will be hard to read code if we tired to build a full theme structure, IMO and I'm not sure if we will be able to take advantag

[2020-07-17 17:17] tiagostutz commented on #7
But, isn’t theme in Tailwind built with JavaScript? Wouldn’t it be a barrier, even with the docs? I mean, it is easier than  styled components, but still uses a JavaScript theming approach, right?

Despite of this, what do you think about opening an issue suggesting a migration from Bootstrap to Tailwind and creating a branch on your fork to start working on it? I’m convinced that we should go wit

[2020-07-17 17:26] giteshk11 commented on #7
Oh yeah, we can build using tailwind javascript else we wont be able to take full advantage of tailwind without javascript

I'm down with using tailwind.
Lets open an issue in this repo only and start discussing about how the theme should look like and all the other specs and then you can divide the work in between new contributors. How about that?

[2020-07-17 17:43] tiagostutz commented on #7
Sounds perfect to me.!

Please, could you open the issue labeling it with “good first issue” and “first-timers-only” and invite the guy in #35 to take a look at that?

Glad to have such an active member like you, @giteshk11 .!!

[2020-07-17 17:50] giteshk11 commented on #7
Oh sure @tiagostutz
Glad to be a part of this team ;)

[2020-07-17 17:58] giteshk11 opened #36 "Create theme configuration using tailwindcss"
Create a theming structure for the application implementing [tailwindcss](https://tailwindcss.com/)

- [x] Discuss the look and feel for the theme.

[2020-07-17 18:00] giteshk11 commented on #36
@tiagostutz i'm not able to tag that guy,could you tag him and lets tag others too,who you think and help or bring more to the table for discussion.

[2020-07-17 20:00] tiagostutz commented on #35
@GusFiuza would you like to contribute with https://github.com/bancodobrasil/stop-analyzing-embed/issues/36 ?

[2020-07-18 01:05] reedhop24 commented on #34
Hi Tiago,

I apologize but I just had two more questions about the implementation of the ChoiceBoardModel.

- What is the purpose of storing both initial options in the model if the back end is only concerned with the selected option?

- How many total choices will there be? I believe I need to know in order to calculate the percentage variable, or will that also be something returned by the back

[2020-07-18 12:14] tiagostutz commented on #34
Hi @reedhop24 !! First of all, there's nothing to apoligize. It's  so nice we are talking and collaborating here, the more we communicate and collaborate, the best the software will be! Thanks for being such an active member here 😉

Good question. I'm not sure yet and we will discuss it in another issue, but maybe we will let the user go back in his previous choices to start over from some point,

[2020-07-18 13:52] giteshk11 commented on #36
Below are some design ideas.

- [https://dribbble.com/shots/3271222-sweet-animals](https://dribbble.com/shots/3271222-sweet-animals)
- [https://dribbble.com/shots/3579240-Sociology-Life-Life-is-always-so-good-2](https://dribbble.com/shots/3579240-Sociology-Life-Life-is-always-so-good-2)

Comment down below if you have more ideas.

[2020-07-18 14:19] tiagostutz commented on #36
@JapneetSingh5 @eduardomrodrigues  take a look at those amazing references..!

[2020-07-20 17:17] vashugupta commented on #35
@tiagostutz for the very first time i want to contribute in any open source ongoing projects on web development but i don't no how to contribute...........!!!can you help me?

[2020-07-20 17:22] tiagostutz commented on #35
Hi there, @vashugupta !! Welcome to stop-analyzing..!

I'm pretty sure you will find your first steps here on how to start contributing and your work will be of great value to the project. Thanks for that.!

Could you provide me some information of what technologies are you used to work on, preferences and other information you think would be useful for me to create an issue for you?

Meanwhile, a

[2020-07-20 17:29] giteshk11 commented on #36
@tiagostutz have you thought of the color schemes or do you have a color palette in mind?

[2020-07-20 17:30] tiagostutz commented on #34
@reedhop24 I'm sorry, just checked that my previous message was with the JSON incomplete. I've just fixed that. Take a look please. 🧑‍💻

[2020-07-20 17:45] tiagostutz commented on #36
I don't have a particular color schema... that's something the theme will handle, right?

Of course, we will have to have a default color palette. Any suggestion?
There are some nice color palette generators out there. The ones I have used:
- https://coolors.co/
- https://colorhunt.co/
- http://colormind.io/
- https://www.colourlovers.com/

I think they will be useful, but first we mus decide how

[2020-07-20 17:58] giteshk11 commented on #36
- PrimaryColor
- SecondaryColor
- AccentColor
- TextIcons
- PrimaryText
- SecondaryText
- DividerColor

[2020-07-21 03:46] giteshk11 commented on #36
![k5EYQYBqS2](https://user-images.githubusercontent.com/17675390/88010534-b8f3a500-cb32-11ea-89c2-8f03be3f4134.png)
![QI6t8r69Tc](https://user-images.githubusercontent.com/17675390/88010535-babd6880-cb32-11ea-80a7-3ba22a518f18.png)

Sample color palette. @tiagostutz

[2020-07-21 11:13] tiagostutz commented on #36
Nice!

Have you check how many semantic colors variables are there in Tailwind? Is it the same of Bootstrap (primary, secondary, info, danger....) or different (less or more) ?

[2020-07-21 11:57] giteshk11 commented on #36
I don't think tailwind doesn't have that out of the box. We have to add our own i guess.

[2020-07-21 18:14] giteshk11 commented on #36
@tiagostutz I'm not able to push the changes I'm getting this error

[2020-07-21 19:42] tiagostutz commented on #36
I had this error once but unfortunately I don't remember how I fixed that... but I remember I have fixed and pushed the changes. Is your branch up to date with the master?

Hey @eduardomrodrigues . Could you help us with this issue? Maybe you are more familiar with this kind of issue regarding to commit/push validator...

[2020-07-21 22:54] eduardomrodrigues commented on #36
Of course! @giteshk11, this error happens when you push your changes? Can you paste all logs here?
Thank you!

[2020-07-22 16:24] giteshk11 commented on #36
I solved this issue by removing the quotes from `prettier --write 'src/**/*.{ts,tsx,scss,css,json}'`

[2020-07-22 19:25] #36 closed

[2020-07-22 19:47] tiagostutz commented on #30
Hi @JapneetSingh5 ! 👋🏻

There's a new contributor asking for an issue and I'd like to know whether you have already started this issue or if we could asssign it to this new contributor, in #35.

[2020-07-22 19:53] JapneetSingh5 commented on #30
Hey @tiagostutz!
Sorry for the delay, I was a little busy with some work.
I haven't worked a lot on this so I have no problems if the new contributor wants to work on this one. I will look out for more tasks in the future!

[2020-07-22 20:00] tiagostutz commented on #30
Not a problem at all @JapneetSingh5 !
I'm asking you because as you are part of the team now I thought you would understand and be welcoming to this, like you are. 😄

Thanks for that and if you would like to open new issues or help others on issues and PRs you are welcome!

[2020-07-22 21:14] tiagostutz commented on #35
Hi @GusFiuza and @vashugupta the issue #30 is open for assignment. Are one of you guys interested in taking that? If so, just comment on the issue and I'll assign it to you right away!

[2020-07-23 07:21] divyaYK opened #39 "Contribution"
Hi, I'm Divya!

I'm a beginner web developer focusing on MERN and MEAN stacks.
I'm new to Open Source development and would like to get started.

Hoping that I could help with this project,
Thank you.

[2020-07-23 07:27] giteshk11 commented on #39
@tiagostutz I told her about this awesome project and she wants to learn and contribute 😄

[2020-07-23 11:27] tiagostutz commented on #39
Hi there @divyaYK, I hope you are doing well !  👋🏻
First of all, I just loved your status!! 🍕 😆

Welcome to stop analyzing.! It is really nice to have you on board. I'm pretty sure we will learn a lot together and build a beautiful tool that will be useful for lots of people and projects out there.

I'm going to open an issue for you asap and will link it here.

@giteshk11, I can't thank you enoug

[2020-07-23 11:33] #7 closed

[2020-07-23 12:05] divyaYK commented on #39
Hey @tiagostutz!

Thanks for having me! 😄
Can't wait to get started 🎉

[2020-07-23 17:01] ishagupta1548 opened #40 "I want to contribute!"
Hello, my name is Isha Gupta.
I am full stack developer and follow MERN stack. I have experience of 6-7 months. I saw the project and I am interested in contributing which ever way I can. Kindly let me know.
Thank you.

[2020-07-23 17:20] MarcioMad commented on #39
Hi,

@tiagostutz, your writing looks pretty solid, it'd take some good native speakers to find flaws in it.
Btw, why is please-review-my-english a "command" instead of being a proper tag?
I'm still learning the environment mechanics.

Cheers

[2020-07-23 18:26] giteshk11 opened #41 "Brainstorming design and layout for the app"
- Discussion on how the app should look and feel
- Build themes for the app e.g. normal and dark mode

Feel free to post your ideas or designs that you might come across over the internet.

[2020-07-23 19:39] tiagostutz commented on #41
@giteshk11 pinned from #36 👍🏻

Below are some design ideas.

- https://dribbble.com/shots/3271222-sweet-animals
- https://dribbble.com/shots/3579240-Sociology-Life-Life-is-always-so-good-2

There are some nice color palette generators out there. The ones I have used:

- https://coolors.co/
- https://colorhunt.co/
- http://colormind.io/
- https://www.colourlovers.com/

Suggestion on color scheme:

[2020-07-23 20:18] tiagostutz commented on #39
Hi! First of all, thanks for reviewing my english, @MarcioMad .!
This is a command because this review is supposed to be done just in the comments that people wish to be reviewed and not on all of the comments in the issue. If we put a tag on the issue, how would you know which comment to review?

If you have any suggestion of a different approach, I'm open for it.

[2020-07-23 20:25] tiagostutz commented on #39
Hey @divyaYK ! How are you doing?

What about the issue #30 ? Would you be interested in taking that? If so, please send a comment there and we will assign it to you right away.

PS - I'm eating now! 😆

[2020-07-24 05:11] divyaYK commented on #30
Hey @tiagostutz!
I'd like to take up this issue, thanks! 😊

[2020-07-24 10:41] tiagostutz commented on #40
Hi @ishagupta1548 ! Glad to have on board 👋🏻
I'm sure you will bring great value to this project and we will all learn together, building an useful nice tool.!

I'm reviewing the master branch today and as soon as I finish I'll open an issue for you and link it here. Meanwhile, if you have interest in the design part of the project, you could share some ideas in #41. We would love to have more con

[2020-07-24 11:26] tiagostutz commented on #30
Hi @divyaYK !

Awsome. Its yours =)

If you have any doubt, please bring it to the table.

Happy coding! =)

[2020-07-24 11:28] tiagostutz commented on #35
Hi @GusFiuza and @vashugupta I just assigned the #30 to another contributor that has arrived.
Today I'm going to open another issue for another contributor that has arrived, but as you guys arrived first I would like to know if you are still interested in one issue here or if I should open the issue for her...

[2020-07-24 17:17] ishagupta1548 commented on #40
Hello @tiagostutz  Sure would definitely look into the designing and provide with my views and contributions there. Also waiting for your tag also.

[2020-07-24 23:16] tiagostutz commented on #31
@eduardomrodrigues I was thinking here... what about building a bot that is "hooked" on PRs and it checks in
https://github.com/bancodobrasil/stop-analyzing-embed/graphs/contributors whether the person that opened the PR is listed as a contributor and, if not, it creates an issue on the project reporting this.
Actually, it is almost the same path @lucasravy did to bring this issue here.

What do y

[2020-07-24 23:24] eduardomrodrigues commented on #31
@tiagostutz , for me will be a great quest! I'm on it! Thank's
_PS: if my messages passed thru any english correction algorithm, let's pray for this poor processor_

[2020-07-25 23:05] GusFiuza commented on #35
Hi @tiagostutz. Sorry! I had busy week but I still interested in one issue here. Sorry again.

[2020-07-28 11:34] #39 closed

[2020-07-28 13:08] tiagostutz opened #49 "Remove Bootstrap and replace by Tailwind"
Currently we are using a bootstrap theme and classes. Remove the <link> from index.html, remove the theme.css and replace the Bootstrap styles in all HTML elements by Tailwind.

[2020-07-28 13:16] giteshk11 commented on #49
@divyaYK  is working on #30, so we can use complete this issue with that one.
What do you say? @tiagostutz

[2020-07-28 13:16] tiagostutz commented on #40
Hi @ishagupta1548 !! 👋🏻

First of all, sorry for the late response.
I just opened #49 and would like to know if you want to grab that?

If so, please, comment on the issue and I'll assign it to you righ way!

[2020-07-28 13:29] tiagostutz commented on #49
I offered @ishagupta1548 so she can start with an issue. I think they could go in parallel, by @divyaYK using Tailwind in #30 and @ishagupta1548 in this issue here.

How about that?

[2020-07-28 13:32] giteshk11 commented on #49
Sounds good to me 😄

[2020-07-28 14:26] #13 closed

[2020-07-29 12:53] #30 closed

[2020-07-30 12:54] tiagostutz opened #51 "Reaplce styled-components by pure HTML tags"
Currently we have some components using `styled-components`. Replace those by "vanilla" html tags.
Don't need to bring the style, we will tackle the style thing on another issue.

[2020-07-30 12:56] tiagostutz commented on #35
Not a problem, @GusFiuza !!

BTW, do you want to take the #51 ?

[2020-07-30 13:25] #34 closed

[2020-07-30 15:13] tiagostutz commented on #51
Hi there, @stokesy94 !! 👋🏻

Sure, just assigned that to you.! Nice to have you on board. 😃

[2020-07-30 15:13] divyaYK commented on #49
Hey @ishagupta1548! 😊

Are you working on this issue?
If not, I'd like to take it up. Please let me know!

[2020-07-30 15:17] tiagostutz commented on #49
Hi @divyaYK ! I offered the issue to @ishagupta1548, but as she didn't give a sign that she wants to take that I'm assigning it to you and creating another issue to her.

Thanks! 🚀

[2020-07-30 15:22] tiagostutz opened #52 "Remove all warnings from the linter"
Currently there are those warnings produced by the linter:

[code]

The job is to fix them. If you need to remove things, that's ok.

[2020-07-30 15:24] tiagostutz commented on #40
Howdy @ishagupta1548 !

I just opened the issue #52 and I thought you would be interested in taking that.
If you want so, please post a comment there and I'll assign that to you.

Cheers!

[2020-07-30 15:57] tiagostutz opened #53 "Remove the <Timercomponent /> from the ChoiceBoard component"
At the ChoiceBoard.tsx component there is a <Timercomponent /> that won't be used for now. Remove the component and the import.

[2020-07-30 19:09] hannydevelop commented on #53
I really would love to work on this !

[2020-07-30 19:40] tiagostutz commented on #53
Just assigned to you, @hannydevelop
Go for it !! 🏃🏻

Can't wait to check your PR.

[2020-07-30 22:47] JoseChavez98 commented on #52
Hi! I'll love to collaborate on the issue. Can you assign me?

[2020-07-30 23:51] tiagostutz commented on #52
Hi 👋🏻  @JoseChavez98 !
Sure, I'm assigning this issue to you right now.

Thanks for helping this project. If you have any doubt or question, please feel free to comment here.

[2020-07-31 00:14] JoseChavez98 commented on #52
Thanks, @tiagostutz. Is there any guideline on how to collaborate in this project, or how does the workflow must be?

[2020-07-31 00:30] tiagostutz commented on #52
You can check the https://github.com/bancodobrasil/stop-analyzing-embed/blob/master/CONTRIBUTING.md file for some instructions, but if you have any question, feel free to ask here and if there is something to enhance in the CONTRIBUTING.md feel free to open an issue pointing that out.

[2020-07-31 06:19] ishagupta1548 commented on #40
I am sorry I could not reply as I was having some personal issues. I am available and want to contribute. Please assign any next issue available. Thank you @tiagostutz

[2020-07-31 08:55] hannydevelop commented on #53
I made my first PR three hours ago!
How's it?

[2020-07-31 09:28] hannydevelop commented on #53
Hello if my commit is OK can I get another task? I am learning React anyways

[2020-07-31 10:36] tiagostutz commented on #53
Hi @hannydevelop ! Great PR..!

I'm merging this right now. Meanwhile, I have just invited you as part of the team of this project. If you could accept it would be awsome. ☀️

[2020-07-31 10:36] #53 closed

[2020-07-31 10:42] tiagostutz commented on #40
Hi there @ishagupta1548 !
First of all, don't worry, we are not on a rush in this project and the main goal here is to learn together giving opportunitty to people contribute. I'm very glad to have you in this community and I hope you are doing great these days.

I'm totally creating and issue for you today and will link it here.

Keep it up! 💪🏻

[2020-07-31 10:47] tiagostutz opened #55 "Create a parameter for the headline of ChoiceBoard"
In ChoiceBoard.tsx the headline is currently fixed as "Which one would you like to choose?".
Create a parameter in this component so the user can specify what is the headline that will be presented.

[2020-07-31 10:49] tiagostutz commented on #40
@ishagupta1548 I just created #55
If you want to grab that, please comment in the issue and I'll assign that to you right away. 🚀

[2020-07-31 10:51] GusFiuza commented on #35
Yes @tiagostutz. You can assign #51 for me.

[2020-07-31 10:52] tiagostutz commented on #35
@GusFiuza there's this issue #31 that maybe you could help @eduardomrodrigues
What do you think?

[2020-07-31 11:14] hannydevelop commented on #53
I would accept the request once I get 2 step authentication setup!
Thank you so much I can't wait to be part of the team.
The next task can be a React task, am learning React already

[2020-07-31 11:21] ishagupta1548 commented on #55
I want to contribute.

[2020-07-31 11:36] GusFiuza commented on #35
@tiagostutz I read #31 and I think this will too hard for me. If possible, I prefer start with something more easy. I know a little bit about HTML/CSS/JavaScript, so something like #51 could be better for me.

[2020-07-31 11:41] tiagostutz commented on #55
Great, @ishagupta1548 ! Just assigned the issue to you.

If you struggle somehow, please comment here and someone will help asap.

I'm so glad to have your contribution to this project. I'm sure this will be a shiny PR ☀️

[2020-07-31 11:49] giteshk11 commented on #31
i think its better to have github action isn't?

[2020-07-31 11:58] tiagostutz commented on #35
Sure @GusFiuza !
I'm working on an more frontend issue for you and will link it here as soon as it is ready. 👍🏻

[2020-07-31 14:30] tiagostutz commented on #31
IMHO, althought not having the contribution correctly registered is a problem for the project, this is not a functional problem with the PR itself and this tool won't be focusing on the code or the PR aspects itself, but will be checking other aspects of the repo, that's why I think this don't need to be necessary a GitHub Action. But if GitHub Actions is the easiest way to do so, I don't see a pr

[2020-07-31 14:38] tiagostutz opened #56 "Add hover effect to the ChoiceCard like Pinterest"
Implement a hover effect on the card presenting the text `t("Choose")` and with the cursor `pointer`. Like this:

![Gravação-de-Tela-2020-07-31-às-11 35 10](https://user-images.githubusercontent.com/3986989/89045654-3df47080-d322-11ea-8a62-d893f31c3761.gif)

[2020-07-31 14:39] tiagostutz commented on #35
Hi there 👋🏻 I just created the issue #56.
Want to tackle that? If so, just comment there and I'll assign that to you.

[2020-07-31 14:41] davidgoldcode commented on #56
I'd like to contribute!

[2020-07-31 14:42] giteshk11 commented on #56
So we are using tailwind now, so try avoiding making your own classes and use tailwind classes as much as possible.
cc @tiagostutz

[2020-07-31 14:50] giteshk11 commented on #41
@tiagostutz can you make a rough drawing of the layout, so that we have a better idea of how the design should look?

[2020-07-31 14:51] tiagostutz commented on #56
Hi @davidgoldcode ! 👋🏻
Welcome to Stop Analyzing. This is a project made by and for OSS beginners.
So, to make your contribution, just check the contribution guidelines at https://github.com/bancodobrasil/stop-analyzing-embed/blob/master/CONTRIBUTING.md and go for it.! This is a space for practicing and learning while building a tool I'm sure will be very useful for lots of people out there.

If y

[2020-07-31 15:24] tiagostutz commented on #41
So, the idea of this component is to be embeddable inside and existing site as a component of the page, a modal or something like this. The scenario that inspired this tool was brought from [La Fiancee Wedding Dresses](https://www.lafiancee.com.br) and I think we could think that this company could have an alternative page for browsing/filtering the dresses (https://www.lafiancee.com.br/vestidos-d

[2020-07-31 15:28] tiagostutz commented on #41
Currently the card is fixed with `style={{ height: '400px' }}`.
What do you think about that? Maybe a `flex` configuration could make the cards be always with the same size without needing to have a fixed hight.
Do you think we should have a fixed hight (some fixed hights in the theme) and the `auto` option so this `flex` configuration would handle that, should we have only fixed heights or should

[2020-07-31 15:35] giteshk11 commented on #41
Flex config any day but I'm not sure how we could do that, we might have to use rows to divide the whole screen vertically let's say 3 rows (header, main content, footer) then divide the main row into two columns, that will make sure that sure the rows have min desired height for the rows and cards can take the available space. what do you think?

[2020-07-31 16:00] tiagostutz commented on #41
Right. To be fare, I just checked again and the card behavior is already as we are talking it should be. Pretty stable. We could just change `height` to `max-height` to prevent layout crashing.

Another thing we could decide here is about the `object-fit` property of the image. I think we could go with `cover` value for that so the image doesn't get strechet, disorted or something like that.  What

[2020-07-31 16:19] GusFiuza commented on #35
Ok @tiagostutz. I saw that #56 already assigned to davidgoldcode

[2020-07-31 16:29] Bob160 commented on #35
Hi @tiagostutz

Would like to contribute to this project too. Have some knowledge of HTML, CSS and JavaScript.

Thanks

[2020-07-31 16:30] giteshk11 commented on #41
Sounds good to me 👍

[2020-07-31 16:47] tiagostutz opened #57 "Use max-height instead of height and add object-fit:cover to the image element of the card"
To prevent the card from growing indefinately and cause layout crashes but giving some flexibility, change the current fix height behavior and add object-fit:cover to the element.
As we are using Tailwind utility CSS framework, please take a look at: https://tailwindcss.com/docs/object-fit/

[2020-07-31 16:49] tiagostutz commented on #35
Hi @Bob160 ! 👋🏻
First of all, thanks for reaching out and offering help. We are so glad to have you here.!
I just opened the issue #57 that I think you could tackle. If you want to take that, please take a quick look at the [contributing guidelines](https://github.com/bancodobrasil/stop-analyzing-embed/blob/master/CONTRIBUTING.md) and comment in the issue so I can assign that to you.!

Sounds good

[2020-07-31 16:53] tiagostutz commented on #35
Friday is a very bottling day, but don't give up we will get an issue for you! As soon as I write it I'll link it here.

[2020-07-31 17:02] Bob160 commented on #57
@tiagostutz This sounds good.

 I'll like to handle this with your help.

Is that okay?

[2020-07-31 17:12] tiagostutz commented on #57
Sure, @Bob160 !
I just assigned the issue to you. Go ahead and if you have any doubt or stuck in any step, please comment here and we will come to give you a hand ✋🏻

Nice to have you on board!

cc @giteshk11 @divyaYK

[2020-07-31 17:48] Bob160 commented on #57
@tiagostutz  @giteshk11  @divyaYK  I'm currently trying to run the project on my local machine but looks like the project doesn't use npm.

Any help on how to run it locally so I can monitor my work?

Thanks

[2020-07-31 17:55] tiagostutz commented on #57
@Bob160 the application is currently at the `app` folder. Check that there's a package.json there.
If it doesn't work, please let me know.

We use this pattern because there will be building logic with Docker and docker-compose.yml in the root of the project and we don't want to mess them up.

[2020-07-31 21:10] GusFiuza commented on #35
Take it easy @tiagostutz, I won't give up!

[2020-08-01 05:45] tiagostutz opened #58 "Implement a mock server to be used in the frontend development"
Implement a NodeJS/Express Mock server that will return mock choices so we can work on the fech thing of the frontend.

- [ ] Create a folder named "mock-server" in the root of the project
- [ ] Create a NodeJS/Express project with a `/` endpoint that returns "Greetings from stop analyzing!"
- [ ] Create an POST endpoint that receives a JSON as the request body with an array of strings, which will

[2020-08-01 06:33] giteshk11 commented on #58
@tiagostutz we can use json-server [https://github.com/typicode/json-server](https://github.com/typicode/json-server)

[2020-08-01 07:07] hannydevelop commented on #58
I Will Starr working on this!

[2020-08-01 11:38] tiagostutz commented on #58
Oh, I totally forgot json-server.!
But I don't know if it will be possible to use in this scenario. Let me explain why.

The tricky thing in this mock server is that we will implement some simple business logic to emulate the progress in the choosing process request over request. It is a very simple business logic, but it need to be done for us to have the progress value consistent (increasing).

[2020-08-01 14:28] Bob160 commented on #57
@tiagostutz @giteshk11  @divyaYK  I tried running `npm start` and `npm run build` while in the `app/src` directory but had some errors as shown in the attached image. I also had to re-install `npm` in the `app` folder then retried running `npm start` and `npm run build` but still had these errors. Is there something I'm not doing right? Please, help!

I thought I'd be done with this issue and on t

[2020-08-01 14:40] giteshk11 commented on #57
@Bob160 you need to use the bash shell if you have git install you can use git bash ti run this.

[2020-08-01 14:42] giteshk11 commented on #58
if we are going to use some custom logic its better to build our own and there are some options in which json-sever can be used with express to create custom login.

[2020-08-01 15:08] eduardomrodrigues commented on #31
@tiagostutz, this discussion created this project:
https://github.com/eduardomrodrigues/cool-bot

I'll hope to code a really cool BOT for GitHubbers, with your help, I will put all this functionalities inside it. I'll use Deno(because I want to learn)

What do you think?
@giteshk11 @lucasravy

[2020-08-01 15:08] Bob160 commented on #57
@tiagostutz  @giteshk11  @divyaYK  tried running it using bash shell but had this error
![error-on-build1](https://user-images.githubusercontent.com/58000961/89104413-35c72e80-d411-11ea-93f4-209d2e2c7239.png)

[2020-08-01 15:26] giteshk11 commented on #57
what command are you using?

[2020-08-01 16:09] eduardomrodrigues commented on #31
Now, after some studies I realize what I want.
Let's create a GitHub App: https://developer.github.com/apps/
What do you think?

[2020-08-01 16:26] tiagostutz commented on #57
Looks like a problem with `bash` as it is not recognizing an environment var defined inline with the command.
@Bob160 can you try to open the Git Bash directly, not from within the VSCode? If you don't know exactly where it is installed, you could press the Windows key and write "bash", it should appear the Git Bash executable. Open it and then go to the folder and try to run from there.
Another t

[2020-08-01 16:41] tiagostutz commented on #31
Hi @eduardomrodrigues ! Nice move dude!

I like the GitHub App ideia with GitHub Actions, just like @giteshk11 proposed in https://github.com/bancodobrasil/stop-analyzing-embed/issues/31#issuecomment-667081312 .
I was thinking about that and changed my mind about not using that. I just don't think it should break the PR if there's this author problem because it can be a bit tricky to fix and could

[2020-08-01 17:15] eduardomrodrigues commented on #31
Yes, @tiagostutz! Thank's for this explanation. My plan was gives this GitHub App Bot life, like our friend @giteshk11  suggests, and after made the english revisions hook.

Again, thank you so much for this advices!

[2020-08-01 23:40] eduardomrodrigues commented on #31
@tiagostutz, did you see this:
https://github.com/octokit/rest.js

[2020-08-02 19:07] hannydevelop commented on #58
I am working on this!
Will send my PR tomorrow

[2020-08-02 19:08] hannydevelop commented on #58
I am working on this, will send my PR tomorrow!

[2020-08-02 19:20] tiagostutz commented on #58
Awesome @hannydevelop .!!
If you need any help, I’m here. Just raise your hand! 🤚

Thankss!!

[2020-08-02 22:07] tiagostutz commented on #31
Hi there, @eduardomrodrigues .!

I haven’t.!! Maybe @rafamarts and @finhaa may be interested in that resource.

I’ll check it out also. Thanks for linking this here.! ✊🏻

[2020-08-02 22:18] Bob160 commented on #57
@tiagostutz @giteshk11 @divyaYK I tried running `npm run dev` via Bash as you will see in the image below but no luck. Tried even the `npm start` and `npm run build` but to no success.

Maybe, we should try using Docker although I've never worked with Docker but I trust I'll be fine with your guidance. How about that?

![gitbash-error](https://user-images.githubusercontent.com/58000961/89133637-62

[2020-08-02 22:24] Bob160 commented on #57
@tiagostutz  running it via Bash as you suggested above worked just fine. Thanks.

To everyone that chipped in to help, thanks too!
![gitbash-worked](https://user-images.githubusercontent.com/58000961/89133828-45c93600-d517-11ea-8496-0c22b88874b6.png)

[2020-08-02 23:04] Bob160 commented on #57
@tiagostutz @divyaYK  @giteshk11  To which class do I change the height to max-height? Is it the `img-fluid` class as shown in the image below. Am I to set the max-height to 100% as in `max-height: 100%`?
Btw: I thought it's advisable to use one of both (width or height) rather than both (width and height)? Just my thought though, I'm new in programming.

Also, to which class do I add the `object-

[2020-08-03 00:21] finhaa commented on #31
Hey, @tiagostutz!

I had already seen this resource, there is even this [link](https://developer.github.com/v3/libraries/) that shows some libraries available for various languages.

[2020-08-03 10:39] divyaYK commented on #57
@Bob160
- You shouldn't change a class or write a new one in .css files. We are using **[Tailwind CSS](https://tailwindcss.com/)** framework here. You can look at the docs Tiago provided in his first comment.
- You have to look for every <img /> element inside the .tsx files. Height is given as inline styles for them. You have to change it as max-height.

[2020-08-03 11:57] tiagostutz commented on #31
Yep, It looked very useful for the GitHunter project. Have you guys thought about using this or is there limitations on that?

[2020-08-03 12:53] ishagupta1548 commented on #55
@tiagostutz  I ran the project. I saw the choiceboard.tsx. I am working on the issue.

[2020-08-03 14:12] finhaa commented on #31
We can take this discussion to a code review. I don't remember the reasos why we didn't use theses libraries.

[2020-08-03 16:41] dowenrei commented on #40
Hi, is there any unassigned open issues that I could contribute to?

[2020-08-03 16:44] Bob160 commented on #57
Thanks @divyaYK . I guess the `object-fit` property is to be added to the <img /> element as an inline style too?

[2020-08-03 16:56] giteshk11 commented on #57
@Bob160 please check the tailwind documentation for object-fit class

[2020-08-03 17:14] Bob160 commented on #57
@tiagostutz  @giteshk11  and @divyaYK  Below is an image of what the content of the `<img />` would look like after changing the code. Did I get the syntax right?

![max-height](https://user-images.githubusercontent.com/58000961/89208763-e6b9fe80-d5b4-11ea-80ed-a8e2e2f84818.png)

[2020-08-03 17:58] giteshk11 commented on #57
did you check the documentation?

[2020-08-03 18:00] tiagostutz commented on #57
Hi there, @Bob160 ! That's nice you have made some progress.!

We are almost there, but there are two problems here for you to fix:
1. Instead of setting the `object-fit` property as an inline style, you will use what we call in modern CSS a "utility class" from Tailwind, which is our framework of choice. You will be using this: https://tailwindcss.com/docs/object-fit/. Check the example because a

[2020-08-03 18:04] tiagostutz commented on #40
Hi there @dowenrei 👋🏻 !!

Absolutely.! Altought the current issues are all already assigned, we can create and issue specially craft for you. What do you say? Would you like to take a React Hook code to work on?

Just tell me and I'll open an issue for your right away.

Welcome on board.!

[2020-08-03 22:56] #49 closed

[2020-08-04 12:21] Bob160 commented on #57
@giteshk11 Yes, I did. It appears that Tailwind is some sort of CSS framework like Bootstrap.

[2020-08-04 12:46] Bob160 commented on #57
@tiagostutz thanks for the help! So, where do I create this utility class `object-fit`? Is it still in the `ChoiceCard.tsx` or `theme.css` or where exactly?

According to this link: https://tailwindcss.com/docs/object-fit/ there is a `.object-fit` class with a corresponding property and attribute but now you mentioned another `h-max-400` class which isn't mentioned in the link. Which class exactly

[2020-08-04 14:30] dowenrei commented on #40
Hi @tiagostutz, I'm quite new to React and have no experience in React Hook yet, but I would like to give it a go! ;D

[2020-08-04 14:53] divyaYK commented on #57
@Bob160

- You can add the utility class of object-fit property to the \<img\> tag.
Not sure if the docs were clear enough for you but there's no class called .object-fit
- You can use inline styles for max-height property(CSS inline styles are slightly different in react framework)
- Tiago meant you can write a new class called .h-max-400 in case you don't understand how CSS inline styles work in

[2020-08-04 16:56] hannydevelop commented on #58
I am very sorry @

I am so sorry @tiagostutz that I haven't submitted my work yet, this is due to some power issues that would be resolved today.
Please expect my work tomorrow! Am deeply sorry once again

[2020-08-04 17:03] giteshk11 commented on #41
@tiagostutz @divyaYK  how is this colour palette [https://www.happyhues.co/palettes/12](https://www.happyhues.co/palettes/12)

[2020-08-04 20:02] tiagostutz commented on #52
Hi @JoseChavez98 ! How are you doing?
I'd like to know whether you are working on this issue or if we could offer it to another contributor.?

If you don't have time to work on that now, not a problem, we can assign it to someone else and when you be available again you can ask and we will open another issue for you.

What do you say?

Thanks!

[2020-08-04 20:38] tiagostutz commented on #58
Hi @hannydevelop !!
Thanks for your message and, please, don't worry, you are at a good pace here. Communication is one of the most important things on OSS and you have been doing well on that.! 😉

I hope those power issues are resolved as soon as possible for you and you be able to submit your work.

Just remember to reference this issue on your commits by adding `refs #58` on them so your contri

[2020-08-04 21:12] JoseChavez98 commented on #52
Hi!, sorry for being late.
I see that the issue is already fixed. I'll proceed to unassign me.

If you have another issue that I can work on, please let me know

[2020-08-04 21:52] tiagostutz commented on #52
Hi @JoseChavez98 ! Not a problem, at all.!

Sure, I'll create another issue and assign it to you. Nice!

[2020-08-04 22:02] tiagostutz commented on #41
Hi @giteshk11 ! Just loved the color palette and the tailwind site is really useful for this work.! Great references.!

Maybe you could create an issue named "Tailwind Help Wanted" and put there this reference and we could drive to it the tailwind subjects. You could label it as `documentation` and them every time one asks for help with Tailwind we would refer to this in the comment. What do you t

[2020-08-05 00:01] eduardomrodrigues commented on #31
Hi, all! In fact, I looked to this project [Probot](https://github.com/probot/probot), I liked the way these guys solved the authentication problem and their API is very simple. But they are making the new version of Probot with the new Octokit library version, the core of the system.
I'll start to help them contribute to the new beta version, make some codes, with luck.
I think this project can h

[2020-08-05 09:35] tiagostutz commented on #31
Awesome, @eduardomrodrigues .!
This issue is a “Great candidate” (hahahahaha) for open source friday if someone is looking for.

Can’t wait to see the results of this new version along with the English bot and the User account validation GutHub Action we are building here. Nice!

[2020-08-05 12:28] giteshk11 commented on #41
Is it better to include this in the readme file? but your idea is also good, so let me which do you think its better?

Yes, we can create a new issue for this and someone can take it up.

[2020-08-06 11:42] hannydevelop commented on #58
Hello @tiagostutz i submitted my pull request yesterday!

[2020-08-06 12:19] tiagostutz commented on #58
Hi @hannydevelop ! Great!

I have checked here and the PR you opened was from a branch on your fork to the master on your fork also. You should open a PR from the branch on your fork to the master of this repo here. Could you please close this PR and open another to the master of this repo? Do you need some help to do so? If you need more isntructions, just tell me here and I'll give you more deta

[2020-08-06 12:20] tiagostutz commented on #57
Hi there @Bob160 !
Any progress on the instructions @divyaYK gave to you? Need some more help on this? If so, tell me and I'll try to give more details to you.

Cheers!

[2020-08-06 12:29] hannydevelop commented on #58
I will work on that immediately

[2020-08-06 12:47] hannydevelop commented on #58
hello @tiagostutz i just implemented this now! the PR has been directed to stop-analyzing-embed:master.
![new](https://user-images.githubusercontent.com/62933980/89533437-56b1ca00-d7eb-11ea-9764-3d4ba8cf22f2.JPG)

[2020-08-06 12:52] hannydevelop commented on #58
Hello @tiagostutz corrections are welcome on my PR i will work on them immediately!

[2020-08-06 14:21] Bob160 commented on #57
@tiagostutz  thanks for the offer. I don't seem to understand the whole class and react thing because I'm not familiar with react.

Anyway, this is my line of thought: Add the `h-max-400` to this `<img
            className="w-full img-height` that will now be `<img
            className="w-full img-height h-max-400`?

Where then does the whole `object-fit: cover` come in?

Thanks

[2020-08-06 15:39] divyaYK commented on #57
@Bob160

- ```<img className="w-full img-height">``` is actually old code. Could you please update your code by pulling all the new changes using
```$ git pull origin master ```
After pulling the changes you will see inline styles specifying height's value. You can simply change it to **maxHeight**

- object-cover is the class name that exists in tailwind framework, you can simply add this name to

[2020-08-07 13:16] hannydevelop commented on #58
hello @tiagostutz i created a new PR and deleted the former! reasons why i did that is contained in a message on the PR thread.
i really had a wonderful day today, you?

[2020-08-07 23:08] Bob160 commented on #57
Thanks @divyaYK for the help.

@tiagostutz kindly check my PR, please. Some feedback would be appreciated.

Thanks

[2020-08-08 06:26] hannydevelop commented on #58
Hello@tiagostutz seen the PR yet?

[2020-08-08 06:27] hannydevelop commented on #58
Hello @tiagostutz seen the PR yet?

[2020-08-08 12:20] tiagostutz commented on #58
Hello @hannydevelop !!
Good news you bring!! I'm checking your PR right now..

I had a wonderful day yesterday, yet very busy, and I'm also having one great day today, specially now that I'm checking your PR 😃

[2020-08-08 12:54] tiagostutz commented on #57
@Bob160 thanks for the PR!! I just commented there and @divyaYK will merge it or give some feedback. One way or another I'm creating another issue for you on monday, for sure.

Also, I have just invited you to join the team here, if you could accept that would be awsome!!

[2020-08-08 14:10] Bob160 commented on #57
@tiagostutz Thanks for the support. I'm looking forward to the next issue on Monday, yeah!

Also, I'm truly honoured to be invited to join the team; I'll accept it and look forward to making some meaningful contributions to this project. As I'm still new to programming, I'll be relying on the outstanding support from the rest of the team.

Thanks everyone!

[2020-08-11 16:38] #58 closed

[2020-08-11 16:42] #57 closed

[2020-08-11 16:42] #52 closed

[2020-08-11 19:41] eduardomrodrigues commented on #35
@GusFiuza, welcome to the team! If wanna any help, let me know!

[2020-08-12 10:55] GusFiuza commented on #35
Good morning @eduardomrodrigues. I'm waiting for a issue. Something about html/css/javascript could be good.

[2020-08-12 12:37] tiagostutz commented on #56
Hi there @davidgoldcode !

Are you still working on this? Could we assign this issue to another contributor and then we create another one for you?

But, if you are working on that, that's fine. Just let me know, please.

[2020-08-12 12:41] tiagostutz commented on #55
Hi @ishagupta1548 ! How are you doing?

Are you working on this issue? If so, just let me know. If you are not able to work right now, I can assign that to another contributor and we can create another issue for you whenever you want.

What do you say?

[2020-08-12 12:51] tiagostutz commented on #41
Hi there @giteshk11 my friend!

First of all, sorry for the late response, but I'm on a project deadline that is taking all my energy and time these past week. I hope I'll be done with it by the end of this week.

Why not do both? We can add it to README and create the issue. I'll create the issue. Can you write the README part?

Nice.! @GusFiuza (#35) is looking for a html/css/js issue. Maybe you

[2020-08-12 12:57] giteshk11 commented on #41
Hi @tiagostutz, not a problem at all, we all have commitments.

Sounds good to me.

Ok, sure I can do some reviews if you want

[2020-08-12 13:45] giteshk11 opened #64 "Height of the image inside the card is not same"
The height of the image is not the same in the cards.

![qe7Jsbboo5](https://user-images.githubusercontent.com/17675390/90022247-ef56b700-dccf-11ea-9184-6afe790e321b.png)

[2020-08-12 14:21] giteshk11 opened #65 "Swiping animation to dismiss the cards on button click"
The cards should have an animation when the cares are dismissed by the user.

Attached some references for animations:
- [https://animejs.com/](https://animejs.com/)
- [https://animista.net/](https://animista.net/)

If anyone has more options or references,mention in the comments below

[2020-08-12 14:37] giteshk11 opened #66 "Designing a bottom bar for making choices between two items"
The bar should 3 buttons
- Left (if the user selects left item)
- Right (if the user selects right item)
- Dismiss (if the user doesn't like both of the choices)

**Note:** This is a just a high-level view we can discuss more about it in the comments

[2020-08-12 15:29] giteshk11 commented on #35
Hi @GusFiuza,
I just created the issue #64. If you want to work on this issue I'll assign it to you

[2020-08-12 17:35] stokesy94 commented on #51
Hi Tiago,
I am still working on this thanks!
Matt

Sent from Yahoo Mail for iPhone

On Wednesday, August 12, 2020, 13:43, Tiago de Oliveira Stutz <notifications@github.com> wrote:

Hi @stokesy94 ! I hope you are doing well..!

I'd like to know whether you are working on this issue or if we could assign it to another contributor. If you are working on this, just let me know. If not, we could assign

[2020-08-12 18:45] TCashion opened #67 "I want to contribute!"
Hello!

First, I'd like to say **thank you** for running this project.

My name is Travis and I am hoping to make my first ever open-source contribution. I am a recent bootcamp grad and specialize in the MERN stack, including TypeScript.

I'd be grateful if you could guide me to an issue you're looking to solve. I noticed there are a few open already ([#64](https://github.com/bancodobrasil/stop-an

[2020-08-12 19:23] GusFiuza commented on #35
Ok! I'll try #64. Assign it for me. Thanks!

[2020-08-12 19:26] giteshk11 commented on #35
Please self-assign, I'm not able to assign you.

[2020-08-12 19:38] tiagostutz commented on #35
Hi @GusFiuza ! Please comment on the #64 so we can assign that to you.

@giteshk11 @divyaYK I just changed your role to **admin** in this project. 🚀
Thanks for believing this project and giving your precious time, talent and energy to it. I hope you are enjoying this experience as much as I am.

Cheers!

[2020-08-12 20:17] tiagostutz opened #68 "Improvements and fixes on the README"
Minor addition to the README to include instructions on how to clone the repository, plus a quick typo fix on the repo (Getting Started -> "Just follow the instructions bellow", should be "below".

[2020-08-12 20:20] tiagostutz commented on #67
Wow @TCashion! Great tips! 🏌🏻
That's how open source really works: tiny parts that make a great product. Thanks for pointing that.

Welcome on board of stop analyzing! I'm sure you will give valuable contributions here and learn a lot like we are all here.

I followed your suggestion and created the issue https://github.com/bancodobrasil/stop-analyzing-embed/issues/68 for you. Just comment there a

[2020-08-12 20:23] tiagostutz commented on #67
About that... you mean in Tailwind there's no `w-full`? In [this docs](https://tailwindcss.com/docs/width) there is `w-full` but not `w-100`. I think `w-100` is a Bootstrap class, right?

[2020-08-12 20:25] tiagostutz commented on #66
@giteshk11 any references on that? I'll look for some also.

I liked the "dismiss" idea, btw. I haven't thought of that before and makes all sense. 💡

[2020-08-12 20:27] TCashion commented on #68
@tiagostutz I would love to tackle this!

[2020-08-12 20:32] tiagostutz commented on #68
Just take a look at the [contributing guidelines](https://github.com/bancodobrasil/stop-analyzing-embed/blob/master/CONTRIBUTING.md) and go ahead! Just assigned to you.

BTW, if you have some contributions to add to those guidelines feel free to open the issue and bring your suggestions! 🍀

[2020-08-12 20:38] TCashion commented on #67
I see what you mean... maybe I set up my Docker dev environment incorrectly, then, because when I navigate to localhost:8000, the `w-full` class exists on the card images, but there are no styling attributes associated with that class. This results in the image formatting looking incorrect (see screenshot). I'll look into this some more and come back with more info.

<img width="1552" alt="Screen

[2020-08-12 22:45] TCashion commented on #67
@tiagostutz after diving a bit deeper, I see that the script is set up to dynamically build the main.css file in the `src/styles` directory according to line 22 on package.json:

`"build:css": "tailwindcss build src/styles/tailwind.css -o src/styles/main.css",`

This seems to work properly when running in the node dev environment on port :3000, but I don't see the file being created in the Docker

[2020-08-12 23:21] tiagostutz commented on #67
Sure! I'll check here the the `yarn run build` generated files because that's what the Docker build uses. The `yarn run dev` at `:3000` uses the `postcss src/styles/tailwind.css -o src/styles/main.css` CSS processor but the build uses `tailwindcss build src/styles/tailwind.css -o src/styles/main.css`. So I think that the issue is in the middle of this...

We will find out soon.!

[2020-08-13 05:27] giteshk11 commented on #66
[!https://images.app.goo.gl/GU3kM3HG7ujJto6m7](https://images.app.goo.gl/GU3kM3HG7ujJto6m7)
Something like this maybe. Instead of one we will have two cards and will have different buttons but the idea is same

[2020-08-13 10:45] GusFiuza commented on #64
I would contribute #64

[2020-08-13 10:47] GusFiuza commented on #35
@tiagostutz, #64 commented.

[2020-08-13 10:48] tiagostutz commented on #64
Hi @GusFiuza ! 👋🏻

I've just assigned to you the issue! Go for it!

[2020-08-13 11:09] tiagostutz commented on #67
Hi @TCashion ! I found the problem and just fixed it. In `tailwind.config.js` it was not configured to search for typescript files `*.tsx` and `*.ts` in order to gather the classes that should be used in the generated CSS file, so it was going empty.

I just pushed this fix and now it is working. Could you please update your code and do some tests?

Thanks! 🎸

[2020-08-13 11:29] tiagostutz commented on #66
Got it.
What about keeping the "click on prefered card" approach and placing the "dismiss" button outside of the card?
I mean, the rule will be the user choosing one of the options and the exception will be to dismiss, so I think the choice and the dismiss action should be on different information hierarchy places, being the choosing interaction at a higher level than the dismiss interaction. Some

[2020-08-13 11:34] giteshk11 commented on #66
Oh yeah, I like that idea, makes sense and hover to display additional info or something like that and highlight the card as well.

[2020-08-14 00:47] TCashion commented on #67
@tiagostutz that worked!! Main.css file is now being created in the Docker-compose environment.

<img width="204" alt="Screen Shot 2020-08-13 at 6 46 32 PM" src="https://user-images.githubusercontent.com/58757351/90200521-54281500-dd95-11ea-9858-d50e3641f86b.png">

[2020-08-14 00:47] TCashion commented on #67
I'll close this issue to clear up the issue log.

[2020-08-14 00:47] #67 closed

[2020-08-14 00:48] TCashion commented on #65
@giteshk11 @tiagostutz I'm happy to take this on, if it's still available.

[2020-08-14 09:22] giteshk11 commented on #65
Sure, I just assigned to you.

[2020-08-14 21:29] TCashion commented on #65
@giteshk11 @tiagostutz Great! So just to clarify the use case, right now the app shows just two static cards. The animation feature I implement will be triggered when the user dismisses both options. Should I go ahead and add the dismiss button like @tiagostutz outlined in this [comment](https://github.com/bancodobrasil/stop-analyzing-embed/issues/66#issuecomment-673422936)?

[2020-08-14 22:40] dianalin2 opened #70 "I want to contribute"
Hi, my name is Diana!

I'm a beginner developer, with the most experience in Flask and Django stacks. Despite not having too much familiarity with this stack, this project looked interesting, and I would love to begin open-source by contributing to it.

Thank you!

[2020-08-15 05:22] giteshk11 commented on #65
@TCashion yes sure

[2020-08-15 08:59] tiagostutz commented on #70
Hi Diana.! 👋🏻
Welcome to stop analyzing.! I’m sure you will bring valuable contributions to this project even though you are not that familiar with the stack. After all, you are a dev and being so I’m sure you are eager to learn new stuff, like we all are here. BTW, learning new things is the main purpose of this project, so you reached to the right place.

I’ll create a new issue specially made f

[2020-08-16 19:23] shettykaran21 opened #71 "I want to contribute!"
Hi! My name is Karan. I am a beginner developer. I came here from issuehub.io. I don't have experience contributing to open source projects but would love starting to do so 😁

[2020-08-17 13:51] tiagostutz commented on #70
@dianalin2 I hope you are doing well.!
Looks like your background is more on backend development right? If that's the case, would you be interested in tackling this issue https://github.com/bancodobrasil/stop-analyzing-api/issues/16?

[2020-08-17 17:21] sachin-0102 opened #72 "I want to contribute!"
Hey, My name is Sachin Jethanandani and I'm trying to prepare for gsoc next year. I want to start my contributions. Thanks.

[2020-08-17 19:08] dianalin2 commented on #70
Thanks, Tiago, I hope you're doing well too.

That issue sounds great! I'll be sure to reach out if I have an issue.

[2020-08-17 22:46] TCashion commented on #66
@tiagostutz and @giteshk11, I have the basic animation functionality implemented. The way I built it, the card slides over to the right, so after the animation you can scroll over and look at the card (see animation). I can solve this by adding the style attribute "overflow: hidden" to the <main> element (line #9 in App.tsx). Can I go ahead and do that, or will that cause functionality issues down

[2020-08-18 02:10] tiagostutz commented on #70
Awesome!
So please post a comment there on the issue so I can assign that to you right away. If you need some help there with the environment setup and/or with the code, please feel free to comment and the issue and we will help you asap.

[2020-08-18 02:13] #68 closed

[2020-08-18 07:36] giteshk11 commented on #66
Hi @TCashion, this looks great
- You need to remove the element from the DOM so I guess you need to change the opacity to zero this will make sure it doesn't overflow.

[2020-08-18 21:38] reedhop24 opened #73 "I would like to contribute!"
Hello Tiago,

I would love to tackle another issue, I would like to contribute another Component or really whatever else you need help with!

Thanks so much,

Reed Hopkins

[2020-08-19 01:18] tiagostutz commented on #73
Hi @reedhop24 !!
Sure thing! I'll create another issue for you... meanwhile, I've invited you to the team. You can check the invitate at https://github.com/bancodobrasil/stop-analyzing-embed/invitations. If you could accept it we'll be very honored.

As soon as I have created the issue, if you have accepted the invite I'll directly assign it to you.!

🥂

[2020-08-19 17:37] reedhop24 commented on #73
Tiago,

I would love to join the team, is there any chance you could send over another invitation? It appears that the last one has expired.

Thanks,

Reed Hopkins

[2020-08-19 19:55] tiagostutz commented on #73
Sure, Reed!!

Resending the invite in 3...2..1..

[2020-08-19 22:20] tiagostutz commented on #71
Hi @shettykaran21 !!
First of all, sorry for the late response. We are so glad to have you on board!

I'll work on an issue for you asap and link it here, ok?
Do you have any restrictions about working with React or with pure HTML/CSS ?

[2020-08-19 22:22] tiagostutz commented on #72
Hi @sachin-0102 !! 👋🏻
That's so nice to know you are preparing for gsoc! Good luck with that! I hope we could help you in anyway.

I'll create an issue for you and link it here asap. Do you have any preference for React or pure HTML/CSS ?

[2020-08-20 01:16] #70 closed

[2020-08-20 05:31] sachin-0102 commented on #72
I'm more comfortable with CSS...

[2020-08-20 06:51] shettykaran21 commented on #71
@tiagostutz I am not fully comfortable with React but I will try my best!
Yeah sure, please link an issue 👍

[2020-08-20 09:21] priyanshu0405 opened #75 "I want to contribute!"
Hi, my name is Priyanshu, I don't have much experience contributing, but would love to start contributing. Thanks!!

[2020-08-20 14:42] giteshk11 commented on #41
FYI
@tiagostutz @divyaYK [https://twitter.com/adamwathan/status/1296101617079595014](https://twitter.com/adamwathan/status/1296101617079595014)

[2020-08-21 10:49] tiagostutz opened #76 "Upgrade Tailwind to 1.7.2"
As mentioned in https://github.com/bancodobrasil/stop-analyzing-embed/issues/41#issuecomment-677708583 there's an important update on Tailwind regarding to compilation time. So it would be nice to upgrade that and check whether nothing breaks.

A Bonus would be to create some tests that has some elements using the main Tailwind CSS utility classes used by the project to guarantee that every time w

[2020-08-24 10:15] tiagostutz commented on #76
We don't have to build a sophisticated test that detects the Tailwind version change. We just build the test that can be manually run. So, when we have another upgrade of Tailwind we just run it to see if everything is still working.

This test should use the main Tailwind classes that we rely on and check the component states and properties to see whether it is still working as it was with the pr

[2020-08-24 10:16] tiagostutz commented on #71
Not a problem at all @shettykaran21 !

I can assign to someone else and will open another issue for you and link it here, ok?

[2020-08-24 10:18] tiagostutz commented on #41
Totally agree.!
Just ask the assigned users whether they are still working in the issue and what are their schedule for that and just change the assignment. Can you work on that?

[2020-08-24 10:23] tiagostutz commented on #51
Hi there @stokesy94 !
This issue is reaching 30 days kinda stale and I checked that you still haven't forked the repo. I'm sorry but I have to unassign it from you because there are people looking for simple issues to contribute here and we have to keep the project pace.

If you want, I will gladly create another issue for you. ☕
Thanks!

[2020-08-24 10:24] tiagostutz commented on #71
Hey @shettykaran21 how about this issue? https://github.com/bancodobrasil/stop-analyzing-embed/issues/51

Take a look and if you want to tackle that, please comment on the issue.

[2020-08-24 10:28] tiagostutz commented on #41
BTW, I think we could define some issue stale and assignment policy for the project and place it on the CONTRIBUTING guidelines. What do you think @giteshk11 and @divyaYK?

Like in https://github.com/bancodobrasil/stop-analyzing-embed/issues/51, if we already had the policy I could explain to the contributor that I was unassigning the issue from him according to policy X, Y and Z...

What do you s

[2020-08-24 10:35] tiagostutz commented on #75
Nice @priyanshu0405 ! I work on a issue for you and link it here

[2020-08-24 10:37] tiagostutz commented on #75
Hello @sumit-kushwah 👋🏻
Welcome on board.!

I'll create an issue for you also. Which tecnologies are you currently working with? HTML, CSS, Javascrip, NodeJS...?

[2020-08-24 10:43] tiagostutz commented on #73
I mean, what do you think about this one https://github.com/bancodobrasil/stop-analyzing-embed/issues/76 ?
We could even break this issue in smaller ones. What do you say?

[2020-08-24 12:37] giteshk11 commented on #41
@tiagostutz sure we can discuss on that

[2020-08-24 12:44] divyaYK commented on #41
I think that's a good idea!

[2020-08-24 20:47] reedhop24 commented on #73
Tiago,

I apologize for the delay, work has been hectic. I would like to tackle 76. I will get working on it, but you can probably expect to hear back from me with some questions.

Cheers!

[2020-08-25 13:19] Bob160 commented on #51
@tiagostutz, can I take this up?

[2020-08-25 14:10] #65 closed

[2020-08-25 14:10] giteshk11 commented on #64
Hi there @GusFiuza

Are you still working on this? Could we assign this issue to another contributor and then we create another one for you?

But, if you are working on that, that's fine. Just let me know, please.

[2020-08-25 17:40] tiagostutz commented on #51
Hey @Bob160 ! How are you doing?
Sure, go ahead. Just assigned to you.! Nice!

🚀

[2020-08-25 17:41] ydocsgnillats commented on #56
@tiagostutz I'd be happy to work on this issue if nobody else is!

[2020-08-25 17:44] ydocsgnillats commented on #75
If there are any issues related to Javascript/React/Node i'd love to contribute!

[2020-08-25 18:02] giteshk11 commented on #75
@ydocsgnillats would you like to work on #64 ?

[2020-08-25 18:32] Bob160 commented on #51
Hi @tiagostutz . I'm doing very well, thank you! How are you doing? Waited for you to create the new issue for me as you said but decided to choose one on my own.

Let's get to work, shall we?

[2020-08-25 19:39] tiagostutz commented on #51
I'm doing great, thanks!

Nice move.! I've been on a rush on last weeks, thats why I couldn't create the issue... but now your are good to go!
Please let me know whether you need any assistance.

[2020-08-25 23:00] tiagostutz commented on #56
Hi @ydocsgnillats ! 👋🏻

Welcome to Stop Analyzing. Nice to have you on board and thanks for your contribution! I'm sure we will build together such a nice tool!

I have assigned this issue to you. If you need any assistance, please let me know!

[2020-08-26 10:43] GusFiuza commented on #64
Hi @giteshk11

You can assign this issue to another contributor. I'm very busy nowadays. I'll ask another issue in future.

Thanks and sorry for me delay

[2020-08-26 11:39] giteshk11 commented on #75
hi, @priyanshu0405 would you like to work on issue #64 ?

[2020-08-26 12:56] priyanshu0405 commented on #75
hello @giteshk11, yes I would like to contribute. Thanks!!

[2020-08-26 13:18] ydocsgnillats commented on #56
Thank you @tiagostutz !
I want to make sure I'm starting off right, I plan to add an 'onCardHover()' function to the 'components/ChoiceCard.tsx' that is similar to the 'onCardClick()' function that will add the hover affect to the choice cards. Is this correct?

[2020-08-26 13:20] giteshk11 commented on #75
Assigned to you @priyanshu0405

[2020-08-26 21:56] tiagostutz commented on #75
Awesome @priyanshu0405!
Can you comment on #64 please so we can assign that to you?

@giteshk11 thanks for welcoming new users! 🥇

[2020-08-26 21:58] tiagostutz commented on #73
@reedhop24 I've just assigned #76  to you. Feel free to ask anything about that. I'm pretty sure that me, @giteshk11, @divyaYK or any other community member will be glad to help with.!

Nice to have another issue tackeld by you, my friend!

Cheers!

[2020-08-26 22:32] priyanshu0405 commented on #64
@tiagostutz @giteshk11 please assign this issue to me. Thanks!!

[2020-08-27 00:08] tiagostutz commented on #71
Hi @shettykaran21 ! What about the issue https://github.com/bancodobrasil/stop-analyzing-embed/issues/55?

Want to tackle that? If so, just comment on that and we will assign that to you.!

[2020-08-27 00:09] tiagostutz commented on #40
Hi there @ishagupta1548 and @dowenrei are you still interested and grabbing some issues around here? If so, just let me know and I'll create ones for you.

I hope you are doing well! =)

[2020-08-27 09:56] Ayushbajpai19 commented on #64
I would like to contribute to the above issue, can you guide me through the process?

[2020-08-28 12:14] priyanshu0405 opened #77 "Old TypeScript version"
Due to old version of TypeScript, there is problem in running the application.

![error](https://user-images.githubusercontent.com/58037946/91559553-ef081e00-e955-11ea-8212-e9d3567446ea.jpg)

[2020-08-28 16:08] lakshay-saini-au8 opened #79 "Want to contribute"
Hye, I am a beginner in this open-source contribution but well versed with the frontend part(HTML CSS JS REACT ). It will be great if you give me a chance to showcase my skills

[2020-08-28 21:45] maximillianfx opened #80 "CI platform"
Hello people. Looking into the project and the the growing contribution, what do you think about adding some CI platform (Travis, CircleCI, Jenkins), to validate the contributions and guarantee a good code and coverage?

[2020-08-28 22:57] Bob160 commented on #51
Hi @tiagostutz, can you please throw more light on what this project entails?

Thanks

[2020-08-29 17:31] Amulya-coder commented on #75
@tiagostutz Is there any issues related to html,css . I am new to the contribution but loved to start contributing.

[2020-08-29 17:38] Amulya-coder commented on #75
@tiagostutz  Is there any issues related to html and css.I am new in the contribution to open source but loved to start contributing.

[2020-08-29 20:17] Aastha2891 commented on #75
Hello. I am new in contributing and would like to start contributing to open source. If there are any HTML and CSS related issues available, I would love to work on it.

[2020-08-30 10:11] giteshk11 commented on #75
Hello @Amulya-coder and @Aastha2891
Thanks for taking interest in our project. Currently, there are no issues in the backlog but @tiagostutz or I will create issues soon for you.
Stay tuned!

[2020-08-30 15:25] tiagostutz commented on #80
Hi @maximillianfx !! Welcome to stop analyzing.!
Thanks for your suggestion. Could you please be more specific about how the contributions validations, code coverage, etc?
I really like the idea, but to me, it looks like we are one step behind: we need more tests coded and a local code coverage tooling. Then we will add some CI platform integration.

What do you think?

[2020-08-30 15:30] tiagostutz commented on #67
Hi there @TCashion !!

I have just invited you to join the Stop Analyzing Team in this repo. I hope you can accept that. Will be great to have you.!
🍻

[2020-08-30 15:33] tiagostutz commented on #79
Hi @lakshay-saini-au8 !! Welcome on board of stop analyzing.!
First of all, thanks for offering your contribution to this project. I'm sure we will build a great product here.

I'll create an issue for you asap. I'm thinking about improving our tests, do you think you could work on that? If you don't have experience with testing-library, not a problem, we can help with that.

What do you say?

[2020-08-30 15:34] giteshk11 commented on #80
If we going with netlify we don't need ci it will automatically build

[2020-08-30 15:36] tiagostutz commented on #77
Hi @priyanshu0405 👋🏻

Thanks for pointing that. I've just made a review on your #78 PR.

[2020-08-30 15:37] #73 closed

[2020-08-30 15:44] tiagostutz commented on #56
You are welcome, @ydocsgnillats !! Nice to have your contribution here.

It would work, but I think we could think about making this work using `: hover` CSS property. What do you think?

@divyaYK @giteshk11 @TCashion do you think it would be possible to implement this with `:hover`? I'm not 100% sure, but really think it would be possible.

Anyway, if the CSS approach doesn't go well, please go a

[2020-08-30 16:37] TCashion commented on #67
Thanks @tiagostutz !! It would be my pleasure!

[2020-08-30 18:13] lakshay-saini-au8 commented on #79
Hi @tiagostutz although I don't know much about testing, but if you can guide me on this I am up for testing

[2020-08-30 20:35] tiagostutz opened #82 "Fix current tests"
Currently the project has some tests that stopped working. Some tests can be outdated and need to be updated and others may be non-applicable anymore and hence should be removed.

After this issue is done we will start to improve the project testing coverage.

[2020-08-30 20:36] tiagostutz commented on #79
Awesome, @lakshay-saini-au8 !

I just opened the issue https://github.com/bancodobrasil/stop-analyzing-embed/issues/82 for you. If you would like to tackle that, please comment on the issue and I'll assign that to you.!

[2020-08-31 02:51] lakshay-saini-au8 commented on #82
Hye @tiagostutz here I am to take on this

[2020-08-31 02:53] tiagostutz commented on #82
Awesome!! Just assigned to you. Let me know if you need some help on this.

Nice to have your contribution here.

[2020-08-31 12:18] maximillianfx commented on #80
Yeah @tiagostutz, this looks the better way, adding more tests and local code coverage tool and then add an automated tool. @giteshk11 Netlify could be a good solution, it has CI&CD, so, looks good.

[2020-08-31 12:43] divyaYK commented on #56
Yes, hover effects can be implemented using `:hover`, I don't think using onCardHover() is necessary.
@ydocsgnillats, you can use the .css file to implement this.

[2020-08-31 13:45] #64 closed

[2020-08-31 13:49] tiagostutz commented on #80
Nice, guys.

@maximillianfx maybe you could offer some help to https://github.com/bancodobrasil/stop-analyzing-embed/issues/82 ?

[2020-08-31 13:49] #79 closed

[2020-08-31 13:51] maximillianfx commented on #80
Yeah, I'll check it out.

[2020-08-31 14:17] lakshay-saini-au8 commented on #82
hye @tiagostutz  can you give me any tutorial or anything like that from where i can get the idea of how to start the things

[2020-08-31 14:47] TCashion commented on #56
I agree with @divyaYK , `:hover` would be the most light weight way of accomplishing this.

[2020-08-31 14:53] TCashion commented on #82
Hey @lakshay-saini-au8 , here are a few places to start:

https://www.youtube.com/watch?v=D9DdY2WmM-s
https://www.valentinog.com/blog/jest/

In short, the tests run using a testing library called Jest, which integrates well with React apps. To run the test, `cd` into the `app` folder of the project, then in your terminal type `npm test`, and you'll be able to see which ones are failing.

[2020-08-31 16:09] lakshay-saini-au8 commented on #82
@TCashion thanks a lot man i will start it soon

[2020-08-31 16:57] #77 closed

[2020-08-31 17:03] tiagostutz commented on #82
Great references, @TCashion.!
The main site is https://testing-library.com/docs/react-testing-library/intro

[2020-09-01 09:30] Aastha2891 opened #83 "I want to contribute!"
Hello. I am quite new to contributing to open source but I am ready to learn and am looking for any issues which I may help with. I am comfortable with HTML/CSS. If there's anything I can contribute to, let me know. Thanks

[2020-09-01 13:03] codecakes commented on #83
@Aastha2891 https://github.com/Xcov19/xcovfe/issues/91

[2020-09-01 13:58] tiagostutz commented on #83
Hi @Aastha2891 ! Welcome to stop analyzing. Nice to have you on board! ⛵

You have the options suggested by @codecakes at Xcov19 project and we have the issue #55 here that you could tackle. If that's the case, please comment on that and I'll assign to you.

@codecakes nice to have your suggestions here.! =)

[2020-09-01 15:21] Amulya-coder commented on #75
@tiagostutz  is it related to html and css

[2020-09-01 16:11] c-squared87 opened #84 "I Want To Contribute!"
I have experience with React, Tailwind, and some testing with Jest. Interested in picking up tasks related to anything of that nature. Newish to open source, not new to teamwork!

[2020-09-01 16:17] tiagostutz commented on #75
It is more related to React but is very simple. If you prefer a html/css only issue, maybe you could take a look at https://github.com/bancodobrasil/stop-analyzing-embed/issues/72 and give it a try?

What do you think?

[2020-09-01 16:42] Amulya-coder commented on #72
@tiagostutz  I understand the Like/Deslike mode but what is another mode Choice Between ?

[2020-09-01 17:28] Amulya-coder commented on #75
@tiagostutz  I have commented on #72 could you please take a look and solve my doubt

[2020-09-02 17:23] codecakes commented on #83
@tiagostutz thanks Tiago

[2020-09-03 13:46] Aastha2891 commented on #55
Hello, @tiagostutz. Are you expecting to see a user-defined headline instead of the static "Which one would you like to choose?"

[2020-09-04 08:57] Bob160 commented on #51
Hi @tiagostutz hope all is well with you?

Still waiting for your response so we can get this issue sorted.

Hope to hear back from you soon.

Cheers

[2020-09-04 13:23] tiagostutz commented on #84
Hi @c-squared87 ! Sorry for the delay...
Welcome to stop analyzing. Nice to have you on board! ⛵

What about the #55 to warm up?

[2020-09-04 13:27] tiagostutz commented on #72
The Choice Between is actually in a more mature state and the interaction is to choose between two options. The Like/Deslike mode is an interaction where the user just say whether he likes or not the presented single option.

[2020-09-04 15:20] tiagostutz commented on #51
Hi there @Bob160 ! I hope you are doing well.!
Sorry for the delay... so, this project is about creating a tool that offers a less "frictional" choosing experience for scenarios in which the user may have lots of options. As you know, choosing between lots of options requires a heavy cognitive load and can be frustrating, sometimes. This tool will offer for websites - such as e-commerces - and alt

[2020-09-05 05:03] Aarti002 commented on #55
Hello everyone! i m a absolute beginner to open source  it would be really helpful if anybody help me out in this.... i mean from where should i start contributing , plz lemme know!

[2020-09-05 05:37] Aarti002 commented on #84
Hii , i m an absolute beginner to open source but i m very excited for my first contribution to it , i have experience in CSS/HTML and if it require some more technologies then definitely i would learn it but if there is something in which i can contribute then please let me know!

[2020-09-06 21:53] reedhop24 commented on #73
Tiago,

I am so sorry I have neglected this issue, life has been hectic. When things calm down I will be sure to ask to have another issue.

Thanks so much,

Reed Hopkins

[2020-09-07 04:06] brandi44 opened #85 "I want to contribute!"
Hi! I'm new to open source contributions, would love to contribute to this project 😄 . I have experience in React, typescript, html and css.

[2020-09-07 04:07] #85 closed

[2020-09-07 08:05] brnguyenn opened #86 "I want to contribute!"
Hi! I'm new to open source contributions, would love to contribute to this project 😄 . I have experience in React, typescript, html and css.

Accidentally created an issue on the wrong account but closed it

[2020-09-08 16:33] c-squared87 commented on #84
@tiagostutz Thank you for your patience, now that the holiday weekend is over I can take a shot at #55 if you want to assign that to me!

[2020-09-11 21:52] afiorentino opened #87 "I want to contribute"
Hi! I recently finished my Bachelor's degree in Software Engineering and am looking for a project to contribute to so that I can learn new things and improve my skills.

My education mainly focused on OOP concepts and languages such as Python, Java, C++, but I've also taken a scripting class so I'm familiar with BASH and PERL. The other focus of my education was web applications, so I'm pretty com

[2020-09-12 16:27] theSultan00 commented on #56
hey there, I would like to make this my first OSS contribution, can I ? Would definitely need some guidance too

[2020-09-12 16:31] OluyemisiA commented on #71
Hi! My name is Adebola. I am a beginner developer. I came here from goodfirstissue.dev. I don't have experience contributing to open source projects but would love to do so 😁. I have experience with HTML, CSS, and javaScript.
Hope to hear from you soon

[2020-09-14 17:28] RidamGarg commented on #40
Hi! I am pursuing my Bachelor's degree in Software Engineering and am looking for a project to contribute to so that I can learn new things and improve my skills.

My education mainly focused on Java, C++. The other focus of my education is web applications, so I'm pretty comfortable with  CSS, HTML, and currently learning Javascript.

[2020-09-14 17:36] RidamGarg opened #88 "I want to contribute"
Hi! I am pursuing my Bachelor's degree in Software Engineering and am looking for a project to contribute to so that I can learn new things and improve my skills.

My education mainly focused on Java, C++. The other focus of my education is web applications, so I'm pretty comfortable with CSS, HTML, and currently learning Javascript.

[2020-09-14 17:47] kushal-khare-official opened #89 "I want to contribute"
Hi,
I recently learned full stack development using MERN stack. [Here](https://iert-technovation.in) is a link to the website I recently made for my college tech fest.

I want to start contributing to open source and I am also preparing for GSOC next year. Please help me out.

Thanks in advance

[2020-09-16 16:35] sj00coder commented on #71
Hello Sir,I want to contribute.I am new to open source.Please me out.I am comfortable with react,HTML,CSS,...

[2020-09-19 18:58] kasheravaibhav14 opened #90 "I want to contribute!"
I am Vaibhav Kashera, studying at the International Institute of Information Technology, Hyderabad(IIIT-H).
My past experiences include creating an android application in a team in Flutter and Firebase, which can be viewed [here](https://play.google.com/store/apps/details?id=com.collegenet.myapp&hl=en).
I am comfortable working in C, C++, JS, Python3, Django, and Dart. I also have a fair amount of

[2020-09-20 16:07] accordingtoherr commented on #75
Hi @tiagostutz I am experienced in React and pretty new to contributing I would love to help! - Experienced in React with SASS, Next and TypeScript

[2020-09-21 12:21] tiagostutz commented on #40
Hi there @RidamGarg 👋🏻 !! Welcome to stop-analyzing.
First of all, sorry for the late response. I was closing some old pending tasks here and got stuck on that.

Thanks for reaching by and offering help to the project. I'm sure we will craft some issues for you to take, learn and make the project even better.!

As you you focused in Java/C++, maybe you could help the project with the API (https://

[2020-09-21 12:23] tiagostutz commented on #88
Hi there @RidamGarg 👋🏻 !! Welcome to stop-analyzing.
First of all, sorry for the late response. I was closing some old pending tasks here and got stuck on that.

Thanks for reaching by and offering help to the project. I'm sure we will craft some issues for you to take, learn and make the project even better.!

[2020-09-21 12:23] #40 closed

[2020-09-21 12:26] tiagostutz commented on #55
Hi there @Aarti002  👋🏻 !! Welcome to stop-analyzing.
First of all, sorry for the late response. I was closing some old pending tasks here and got stuck on that.

Thanks for reaching by and offering help to the project. Would you like to tackle this issue here? If so, I can assign that to you and we can help you go through this contribution.!

[2020-09-21 12:38] tiagostutz commented on #75
Hi there @accordingtoherr  👋🏻 !! Welcome to stop-analyzing.

Thanks for reaching by and offering help to the project. I'm sure we will craft some issues for you to take, learn and make the project even better.!

Do you want to take a look at #72? If you think that's a good starting point, please comment on the issue and I'll assign it to you and we can help you through the contributing process.

N

[2020-09-21 12:44] tiagostutz commented on #71
Hi there @OluyemisiA  👋🏻 !! Welcome to stop-analyzing.
First of all, sorry for the late response. I was closing some old pending tasks here and got stuck on that.

Thanks for reaching by and offering help to the project. I'm sure we will craft some issues for you to take, learn and make the project even better.! What about the issue https://github.com/bancodobrasil/stop-analyzing-embed/issues/51?

[2020-09-21 12:47] tiagostutz commented on #71
Hi there @sj00coder  👋🏻 !! Welcome to stop-analyzing. Nice to have you on board.!

Thanks for reaching by and offering help. We will craft some issues for you to take, learn and  grow the project.!
As you are comfortable with React/HTML/CSS/JSS, what about the issue #76 ? Want to take that? If so, just comment on the issue and I'll assign it to you, ok?

[2020-09-21 12:49] tiagostutz commented on #84
Hi @c-squared87 .!!
Sorry for the late response. I was stuck on some pending tasks here.

Would you be interested in making a first contribution here? If so, we are needing some help on https://github.com/bancodobrasil/stop-analyzing-embed/issues/82

If so, just let me know commenting on the issue and I'll assign that to you.

[2020-09-21 12:54] tiagostutz commented on #56
Hi there @theSultan00  👋🏻 !! Welcome to stop-analyzing.

Thanks for reaching by and offering help to the project. We can help you in this contributing project and I'm sure you will help the project grow and have more neat features.

Do you want to take this issue here? If you think that's a good starting point, please let me know and I'll assign it to you. Don't worry, we can help you through the

[2020-09-21 13:31] accordingtoherr commented on #72
@tiagostutz I think I can take this one - ill reach out if I have questions. It looks like basically a state update onClick right?

[2020-09-21 13:50] tiagostutz commented on #72
To be fare, It is a bit more thant that. But not a big deal.
Currently the project has two types of interaction: Choice mode (choose between two options) and Like/Deslike mode (one option presented and the user just like or deslike, pretty much like tinder). To put the Like/Deslike mode on the trail is the goal here. You don't need to take care of the events for now, you can just focus on the HTML

[2020-09-21 17:07] theSultan00 commented on #56
@tiagostutz  yes i would like to take this issue.

[2020-09-21 17:49] tiagostutz commented on #56
Just assigned to you!
Let me know if you need any further assistance.

Thank you so much for your help.!

[2020-09-21 20:49] accordingtoherr commented on #72
sure! just another question: are you using tailwind across the board on the site too?

[2020-09-21 21:40] tiagostutz commented on #72
Yep, the ideia is to use Tailwind all over.

[2020-09-22 08:16] priyanshu0405 commented on #84
@tiagostutz , please assign a new issue to me too. Thanks!!

[2020-09-22 11:42] tiagostutz commented on #84
Hi there @priyanshu0405 ! Hope you are doing well!

How about taking https://github.com/bancodobrasil/stop-analyzing-embed/issues/51? If you want to tackle that, please comment on the issue and I'll assign that to you.!

[2020-09-22 19:34] priyanshu0405 commented on #51
hey @tiagostutz, I am doing well. How are you? Yes I can take this issue, can you please explain it to me. Also, is there some place I can contact you email or something. Thanks!!

[2020-09-22 19:40] tiagostutz commented on #51
I'm doing great, thanks!
Just assigned this issue you to you.

You can reach me at Telegram or Twitter. My user is @tiagostutz.

[2020-09-22 20:17] c-squared87 commented on #82
@tiagostutz I am interested in tackling this!

[2020-09-22 22:53] tiagostutz commented on #88
Hey @RidamGarg ! How about starting with a quick issue in Go in the API project? Take a look at https://github.com/bancodobrasil/stop-analyzing-api/issues/26 and if you would like to tackle that, please comment in the issue and I'll assign it to you. 🚀

[2020-09-22 22:56] tiagostutz commented on #82
Awesome @c-squared87 !! Just assigned to you. Go for it! =)

[2020-09-22 22:57] tiagostutz commented on #86
Hi there @brnguyenn !! 👋🏻  First of all, sorry for the late response.

Thanks for your interest in helping stop analyzing. Your contributions are all welcome here and I'm sure we will build together a valuable tool.

Would you be interested in working on the issue https://github.com/bancodobrasil/stop-analyzing-embed/issues/76? If so, please comment there and I'll assign it to you. Don't worry, if

[2020-09-22 23:33] accordingtoherr commented on #72
@tiagostutz yup I will get started on this this week, I will reach out if I have questions =]

[2020-09-23 06:28] RidamGarg commented on #88
YES, I want to solve this issue.

[2020-09-23 08:11] tiagostutz commented on #88
Awesome!! Please, comment on the issue so I can assign that to you.

[2020-09-23 14:21] tiagostutz commented on #87
Hi there @afiorentino.! Welcome to stop analyzing.!
First of all, sorry for taking so long to answer you. I was stuck on some tasks here and couldn't come back to answer the issues.

As you have some experience with Java, C++, OOP I think you could help us with one issue in the API of stop analyzing. This is the issue: https://github.com/bancodobrasil/stop-analyzing-api/issues/27
If you could tack

[2020-09-23 17:21] afiorentino commented on #87
Hi, and thank you for welcoming me!

I believe that I should be able to tackle this issue, but I'll be sure to ask for help if I find myself lost.

[2020-09-23 19:55] theSultan00 commented on #56
hello @tiagostutz so i have set up everything and got it running on my local machine, I spinned up the server and  I can see two cards on my browser I assume I'm supposed to add the text effect on those cards, so I went ahead to inspect the page I can see whats running under the hood, but when I go to the HTML page on my text editor I really can't see nothing. please can you help me out

[2020-09-23 20:51] tiagostutz commented on #56
Ok @theSultan00. Please check the React file `ChoiceCard.tsx`. That's where you will find the code you are supposed to work on.
Let me know if it need any further assistance!

[2020-09-24 00:10] accordingtoherr commented on #72
@tiagostutz I was running into issues with my set up. could you give me a hand? after forking and cloning it to my local machine, and running npm install im getting start time errors due to there not being a package.json in the project although there is -

[2020-09-24 02:02] tiagostutz commented on #72
Hi @accordingtoherr !
Let's check this. Could you try to run `npm run dev` instead of  `npm start`? If it works, please fix the README. Also, are you running the command inside the `app` folder? Last but not least, which node version are you using.

[2020-09-24 02:13] accordingtoherr commented on #72
I’ll try tomorrow! And I have the most up to date version of node - I can download an older version if needed for this project w nvm if needed

Sent from my iPhone

[2020-09-24 21:55] c-squared87 commented on #76
If my other PR is up to spec on what you are looking for I would be interested in picking this issue up.

[2020-09-25 00:57] tiagostutz commented on #76
Sure, @c-squared87 !! Just assigned the task to you.!

Also, I just invited you to the team. It would be great if you could accept this invitation.

Thanks a lot for you contributions! 🏆

[2020-09-25 18:00] c-squared87 commented on #76
Done! I'll address this issue at the top of next week.

[2020-09-29 13:22] #82 closed

[2020-09-29 15:13] OluyemisiA commented on #51
I would like to contribute to #51. How do I get started

[2020-09-29 15:36] tiagostutz commented on #51
Hi @OluyemisiA !
You can put the project to run. Have you already followed the README instructions to try to put it to run?

[2020-09-29 17:29] OluyemisiA commented on #51
@tiagostutz Yes, I followed the instructions and the project is running already

[2020-09-30 09:38] kasheravaibhav14 commented on #90
Hey, can I please get some response? It's been 9 days!

[2020-10-01 13:42] vparine commented on #55
@tiagostutz Can I work on this? Please assign this to me.

[2020-10-02 20:46] tiagostutz commented on #90
Hi @kasheravaibhav14 ! I'm so sorry for the late response...

As you have some experience with backend technologies, maybe you could take a look at https://github.com/bancodobrasil/stop-analyzing-api/issues/26 and check if you could contribute with that?
If so, please comment  on the issue and then I'll assign that to you.

What do you think?

Thanks!!

[2020-10-02 20:48] tiagostutz commented on #51
Ok. Now, you can perform the required adjustments and submit the PR. Need any assistance on that or you are good to go?

[2020-10-02 20:49] tiagostutz commented on #55
Sure, @vparine ! Go ahead, I just assigned that to you.!

[2020-10-02 20:50] tiagostutz commented on #56
Hi @theSultan00, any updates on that?

[2020-10-02 20:51] #71 closed

[2020-10-02 20:52] tiagostutz commented on #72
Hi there @accordingtoherr ! Any updates on that?
If you don't have time to work on that now, that's OK.! I can assign this issue to someone and we can work on another issue for you when you are ready to go.

[2020-10-02 20:53] #75 closed

[2020-10-02 20:53] #83 closed

[2020-10-02 20:54] #84 closed

[2020-10-02 20:54] #86 closed

[2020-10-02 20:55] #87 closed

[2020-10-02 20:55] #88 closed

[2020-10-02 21:00] tiagostutz commented on #89
Hi there @kushal-khare-official !! 👋🏻
Welcome to stop analyzing... first of all, sorry for taking so so sooo long to answer. I was stuck on some unfinished business here.

So, we have those two issues that you could take a look at and give your contributions: #56 and #72 . What do you say?
If you want to tackle that, please comment on the issue and I'll assign it to you right away!.

[2020-10-02 21:12] tiagostutz opened #93 "Implement script to run mock server from `npm run`"
Add to package.json a script to bring up the `mock-server`. The command will be `npm run mock-server`.

[2020-10-02 21:16] accordingtoherr commented on #72
@tiagostutz no i am still not able to set up the environment i was getting errors. already checked node versions and made sure all the dependencies  are up to date

[2020-10-02 21:29] tiagostutz opened #94 "Fetch choices from an endpoint"
Add a `useEffect` to the `useChoiceBoardModel.ts` that fetches the initial choices from an endpoint and set the initial options from that.

Tip: this endpoint could be the mock server endpoint

[2020-10-02 21:38] tiagostutz opened #95 "Implement query params on /choice of mock-server to emulate the next choice action"
Following the https://github.com/bancodobrasil/stop-analyzing-api/issues/16#issuecomment-667519483 spec, this issue is about enchancing the `db` and the `/choice` endpoint of the mocking server so it can return different values with sequentials invocations to emulate how the real API will behave so we can work on the progress visual interaction and the final interaction when the user reaches "the

[2020-10-02 21:40] tiagostutz commented on #72
Ah, I see... let's work on that. Please check those steps:
1) enter de **app** folder (`cd app`)
2) remove `node_modules`
3) run `yarn install`
4) run `yarn run dev`

After you run that, what are the errors you got? Could you please paste here the screenshots?

[2020-10-02 21:43] priya-pri commented on #94
Hi ,Can you assigned me this?

[2020-10-02 23:03] tiagostutz commented on #94
HI @priya-pri ! 👋🏻
Welcome to stop analyzing!

Sure, I've just assigned the issue to you. If you need some assistance, please let me know.!

Thanks for your help! =)

[2020-10-03 00:06] ashkankamyab commented on #93
Hi @tiagostutz
Hi I would like to work on this, would you mind assign it to me please?

[2020-10-03 00:35] tiagostutz commented on #93
Hi there @ashkankamyab.! 👋

Welcome to stop analyzing. Thanks foe your support and interest in contributing.!

I'm assigning this issue to you right now. If you need any assistance, please let me know.!

Let's do it.!

[2020-10-03 06:54] priya-pri commented on #94
Thanks @tiagostutz

[2020-10-03 06:57] YASH3166 commented on #93
Hi I would like to work on this, would you mind assign it to me please

[2020-10-03 09:12] YASH3166 commented on #95
Can you hand me this project?

[2020-10-03 10:18] YASH3166 commented on #94
HI @YASH3166

Sure, I've just assigned the issue to you. If you need some assistance, please let me know.!

[2020-10-03 15:23] OluyemisiA commented on #51
I want to know if the replacement is a specific file or all the files?

[2020-10-03 17:47] stokesy94 commented on #51
Hi all,
Please can I be removed from this email chain?
Kind Regards,
Matt

Sent from Yahoo Mail for iPhone

On Saturday, October 3, 2020, 16:24, OluyemisiA <notifications@github.com> wrote:

I want to know if the replacement is a specific file or all the files?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-03 22:03] accordingtoherr commented on #72
$ REACT_APP_BACKEND_URL=http://localhost:8008 yarn start
'REACT_APP_BACKEND_URL' is not recognized as an internal or external command,
operable program or batch file.
error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

confirming i removed the packages, added back in and installed a couple that did not install initially. - no

[2020-10-03 23:19] phr-nk commented on #95
I can help with this issue.

[2020-10-05 16:16] vparine commented on #55
@tiagostutz I've raised one PR for parameterizing Headline. Request you to check once.

[2020-10-05 17:00] Aarti002 commented on #55
I'm so sorry sir for late reply just now i saw your email . I 'm ready to
take that project.Can you assign that to me now ?

On Mon, Oct 5, 2020, 21:46 Parine Venkat Ramana Reddy <
notifications@github.com> wrote:

[2020-10-08 11:45] tiagostutz commented on #51
Hi @stokesy94 I think I'm not able to do so as it is a preference configured by you. In the e-mail you receive there's a text at the end with a link to **unsubscribe**. The text is: "Reply to this email directly, view it on GitHub, or **unsubscribe.**"

[2020-10-08 11:46] tiagostutz commented on #51
@OluyemisiA all files, please. And also remove the imports and the package.json dependency.

[2020-10-08 11:47] tiagostutz commented on #55
Hi @Aarti002 the issue was taken by @vparine. I have reviewd the PR at #100 and I'm waiting for his reply. If the PR "stales" I can assign it back to you. But, if you want, I can open an issue for you. What do you say?

[2020-10-08 13:10] Aarti002 commented on #55
yes sure, i would work on it. Thank you so much!!!

On Thu, Oct 8, 2020, 17:18 Tiago de Oliveira Stutz <notifications@github.com>
wrote:

[2020-10-08 16:43] kasheravaibhav14 commented on #90
Yeah sure, I'll take it!

[2020-10-09 07:41] shalika10 commented on #93
hey is it still open ??? can you please assign it to me if its still open

[2020-10-09 08:35] vparine commented on #55
@tiagostutz Please let me know if I need to make any other changes in my PR #100

[2020-10-09 16:54] accordingtoherr commented on #72
@tiagostutz i am still unable to run this project locally - you can assign it to someone else since I tried a lot of things/fixes and nothing worked so I do not want a possible machine config to hold up the ticket

[2020-10-15 20:49] tiagostutz commented on #93
Hi there @shalika10 !! Sorry for the late answer. Are you still interested in this?
I'm assigning it to you right now!

[2020-10-15 20:51] tiagostutz commented on #55
Hey @vparine there are some changes I have requested at #100 . Have you worked on those?

Thanks!

[2020-10-17 19:53] poleselfg commented on #51
i can take this if you want! @tiagostutz

[2020-10-20 12:06] tiagostutz commented on #95
Hi @phr-nk are you still interested on that issue?

[2020-10-20 12:08] tiagostutz commented on #51
Hi there @poleselfg !! Welcome to stop-analyzing.! Thanks for offering help.

I have just assigned it to you. If you still can tackle this issue, please go ahead.

[2020-10-21 12:15] #51 closed

[2020-10-22 14:06] HERITAGEALABI opened #107 "I want to contribute"
I'm Heritage
I want a task to be assigned to me

[2020-10-22 18:28] tiagostutz commented on #107
Hi @HERITAGEALABI !! 👋🏻 Welcome to stop analyzing!
I'm sure we will be building a great project together here.

Do you want to tackle this one https://github.com/bancodobrasil/stop-analyzing-embed/issues/95
If so, please go to this issue, comment there and I'll assign it to you right away!

[2020-10-24 04:09] kazukilapislazuli commented on #93
Can I work on this?

[2020-10-24 09:44] shalika10 commented on #93
@tiagostutz  thanks i will work on this and will create a PR shortly

[2020-10-27 16:46] shalika10 commented on #93
@tiagostutz  i have raised the PR kindly check and let me know if it need some re-work or is it good to go

[2020-11-03 12:54] #93 closed

[2020-11-03 12:57] tiagostutz commented on #56
Hi @Nusart ! Welcome to stop analyzing.!
Nice to have your contribution here. Could you please take a look at https://github.com/bancodobrasil/stop-analyzing-embed/pull/104 to get some directions we have been discussing and work on this? You can fork the project and submit your PR for us to discuss and get to a solution.

What do you say?

[2020-11-03 16:20] #89 closed

[2020-11-03 18:38] Nusart commented on #56
@tiagostutz  I am not good at react. Apologies for the same. I was of the thought that this will be a stand-alone html, CSS project.

[2020-11-04 12:00] jvrenes commented on #107
Hi, I just ended one course about Front-End with React and React Native, and I'd like to collaborate on my first opensource project.
Thanks!

[2020-11-04 23:34] tiagostutz commented on #56
Hi @Nusart ! Not a problem at al... if you want to give it a try, feel free to go on. But if you are not comfortable, that's fine too!

Cheers! =)

[2020-11-04 23:39] tiagostutz commented on #107
Hi @jvrenes 👋🏻 ! Welcome to stop analyzing...!!
I'm sure you will bring valuable contributions to the project. If you want to start, there are two issues that are a good starting point you could go: https://github.com/bancodobrasil/stop-analyzing-embed/issues/55 and https://github.com/bancodobrasil/stop-analyzing-embed/issues/95

You can choose one of those issues, read the [CONTRIBUTING guideline

[2020-11-05 11:40] jvrenes commented on #55
Hi @tiagostutz,
How would you like the user to add the value of the title, using a text input or coding and modifying a constant?
Could I help on this issue?

[2020-12-31 10:18] aditya28sarin commented on #107
Hi, I have worked with HTML, CSS and Bootstrap, can you assign me something related to that?

[2020-12-31 11:39] tiagostutz commented on #107
Hi @aditya28sarin !! 👋🏻
First of all, welcome to Stop Analyzing and thanks for offering help.!

Sure, we have this issue #56 that you could take a look. It was being addressed by https://github.com/bancodobrasil/stop-analyzing-embed/pull/104 but it got stuck, so feel free to tackle that.

If you want to grab this one, please comment on the #56 so I can assign that issue to you asap.

If you need a

[2021-01-02 19:16] therealsylaucoin opened #110 "I want to contribute"
Hi! I'm Syl.
A recent Front End Web Dev graduate.
I'm always looking for new ways to learn, and I'd love to work on an issue :)
Thanks!

[2021-01-05 08:41] boeing60 commented on #56
Hi ! I would like to contribute to this issue if it's possible !
Have a good day.

[2021-01-05 14:52] tiagostutz commented on #56
Hi @boeing60 ! 👋🏻
Sure, I have just assigned that to you. Go ahead!
If you need any further assistance, please let me know.

Thanks for your help! =)

[2021-01-05 14:56] tiagostutz commented on #55
Hi @jvrenes !! Sorry for missing your comment and taking so long to answer. My bad. 🤦🏻

It would be a constant. In the future, this constant will be passed as a widget initialization param.

Are you still interested in working on this?

[2021-01-05 17:16] therealsylaucoin commented on #110
Hi @tiagostutz - Thank you! I'd love to give it a shot. Please go ahead and assign it to me. :)

[2021-01-05 18:56] tiagostutz commented on #110
Awesome!
Please, post a comment on #94 so I can assign it to you. Its not possible to assign the issue to users that haven't interact with the issue yet.
I'll assign it to you right away.!

[2021-01-16 13:58] boeing60 commented on #55
Hi again ! Could I give a try to this issue ?

[2021-01-19 15:11] shoaibkamalkhan opened #112 "I want to contribute"
Hi my name is Shoaib Kamal Khan and I am a recent Front End Web Development Techdegree graduate from Treehouse. I would love to contribute to any open issues you have as a first timer. Please let me know if you have any issues that I can work on. I am proficient in the following:

HTML, CSS, JavaScript
Mobile-First Responsive Web Design
Flexbox
Grid Layout
jQuery
Ajax
Fetch API
JSON
Sass
Media Ele

[2021-01-22 22:07] RidamGarg opened #113 "I want to contribute"
Hi! I am pursuing my Bachelor's degree in Software Engineering and am looking for a project to contribute to so that I can learn new things and improve my skills.

My education mainly focused on full-stack web development. I also know Java and C++.

[2021-01-25 13:31] #107 closed

[2021-01-25 13:32] tiagostutz commented on #55
Hi @boeing60 ! Sorry for the late reponse.
Sure, go ahead! I have just assigned the issue to you. =)

[2021-01-25 13:34] tiagostutz commented on #112
Hi @shoaibkamalkhan !
Welcome to Stop Analyzing.! 👋🏻
Sorry for the late response.

Would you like to tackle https://github.com/bancodobrasil/stop-analyzing-embed/issues/72 ? If so, please comment on the issue and I'll assign it to you right away.

If this is not suitable for you we can work on another task, ok?

Thanks a lot for offering help!

[2021-01-25 13:35] #90 closed

[2021-01-25 13:50] shoaibkamalkhan commented on #72
Hi @tiagostutz! I would like to work on this issue. Can you please assign it to me?

[2021-01-25 14:48] shoaibkamalkhan commented on #112
Hi @tiagostutz! Thanks a lot for the welcome and the reply! I have commented on #72. Can you please assign it to me. Thank you for your response!😀👍🏻🙏🏻🎶

[2021-01-25 16:26] tiagostutz commented on #72
Absolutely @shoaibkamalkhan ! I've just assigned the issue to you.
Take a quick look at the [contribution guidelines](https://github.com/bancodobrasil/stop-analyzing-embed/blob/master/CONTRIBUTING.md) and feel free to ask if you have any question.

Thank you so much.! =)

[2021-01-25 16:31] tiagostutz commented on #113
HI there @RidamGarg 👋🏻 ! Welcome to Stop Analyzing.
First of all, thanks for offering help.

Stop Analyzing is composed by two repos: frontend and backend. This repo here is focused on Frontend development and [this other repohttps://github.com/bancodobrasil/stop-analyzing-api) is focused on the Backend development part. Which one would you like to make your contribution?

[2021-01-25 17:57] shoaibkamalkhan commented on #72
Thanks a lot @tiagostutz! I will take a look.😀

[2021-01-25 19:04] RidamGarg commented on #113
I would like to contribute to Frontend development. As in the second repo, the code is in 'go' and I have used nodejs in backend development.

[2021-01-26 15:03] shoaibkamalkhan commented on #72
Hi @tiagostutz! I have forked and cloned the repo and when I try to run the app I get the following errors:

**I have first used npm install and then npm run dev:**

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
ShoaibKhansMBP:stop-analyzing-embed shoaibkhan$ cd app
S

[2021-01-26 20:47] tiagostutz commented on #72
Don't worry, let's troubleshoot this.

Which node version are you using? Could you try `v14`?

[2021-01-26 20:56] shoaibkamalkhan commented on #72
I have v15.6.0.

[2021-01-26 21:18] tiagostutz commented on #72
I'll try with v15.6.0. I use `nvm` to manage my node versions...

[2021-01-26 21:27] tiagostutz commented on #72
I have tested here with v15.6.0 and had the same problem. So, if you use the v14 I think it will work, as it did here.

[2021-01-26 21:30] shoaibkamalkhan commented on #72
Ok, I will try this and let you know how it went. Thanks a lot for helping me!😀🙏🏻👍🏻🎶

[2021-01-27 14:52] shoaibkamalkhan commented on #72
Hi @tiagostutz!

I was able to install nvm and then install node version 14.5.4 and I was able to progress and then install yarn, but now I am getting this error when running npm run dev. Do you know what this error means?

ShoaibKhansMBP:app shoaibkhan$ npm run dev

yarn run v1.22.10
warning ../../../../../package.json: No license field
$ npm run dev:css && react-scripts start
npm WARN lifecycle

[2021-02-05 18:45] RidamGarg commented on #113
Sir,Please Response

[2021-02-06 02:39] mpirescarvalho commented on #94
Is this done? I would like to contribute

[2021-02-08 14:57] shoaibkamalkhan commented on #72
Hi @tiagostutz! I was wondering if there was any status on this issue? I also posted my issue on stackoverflow; you can visit the link here:

https://stackoverflow.com/questions/65908908/i-need-some-help-in-getting-my-first-open-source-project-running/65909903?noredirect=1#comment116542998_65909903

The user eol was very helpful and stated the following:

Do you think we can do a Zoom call or any

[2021-02-23 21:13] TD-17 opened #115 "I want to contribute"
Hello ! I am Tanya and m currently pursuing my bachelor's in computer science and engineering. I want to contribute in new projects related to frontend development to improve my skills.

[2021-02-24 07:05] Bc-coding opened #116 "I want to contribute"
Hi there! this project looks interesting. I would love to get involved with the front-end part (HTML, css and react). Is there anything I could be of some help?

[2021-02-25 13:13] Shubham-Vishwakarma commented on #112
This not an issue
@tiagostutz Please close this

[2021-02-25 13:15] Shubham-Vishwakarma commented on #110
This is also not an issue
@tiagostutz Please close this
Closing these things will help new beginners in much better way

[2021-02-26 11:45] herkura opened #117 "I want to contribute"
I know html css and basic javascript and I want to learn react js. I am interested in working in the front end  to gain knowledge and experience as well. Kindly assign any issue regarding front end

[2021-02-26 11:46] #117 closed

[2021-02-28 07:54] otatadeabigail commented on #35
Hi,
This is my first time trying to contribute in open source, not quite sure how to go about it. I know HTML, CSS and very little knowledge in JavaScript. I'd like a project I can contribute to

[2021-02-28 07:57] otatadeabigail commented on #56
I'd like to contribute. How do I go about it?

[2021-03-01 14:24] tiagostutz commented on #35
Hi @otatadeabigail ! 👋🏻

Thanks for your interest in contributing. I'll review the current opened issues and will point one of them to you or will create another one that is focused on HTML and CSS and will comment here for you to grab, ok?

[2021-03-01 14:27] #112 closed

[2021-03-01 14:27] #110 closed

[2021-03-01 14:28] tiagostutz commented on #94
Hi @mpirescarvalho ! 👋🏻

Are you still interested in tackling this issue?

[2021-03-01 14:30] tiagostutz commented on #115
Hi there @TD-17 ! 👋🏻
Welcome to Stop Analyzing. Nice to have you on board!

What do you think about tackling https://github.com/bancodobrasil/stop-analyzing-embed/issues/94 ?

[2021-03-01 14:32] #55 closed

[2021-03-01 14:33] tiagostutz commented on #56
Hi there @otatadeabigail !
I have just assigned to you the issue. You can fork and go ahead with it.

Thanks a lot for your help!

[2021-03-01 14:34] #31 closed

[2021-03-01 14:34] #35 closed

[2021-03-01 14:35] #80 closed

[2021-03-01 14:37] #76 closed

[2021-03-01 14:39] tiagostutz opened #118 "Upgrade Tailwind to 2.0.0"
At the end of 2020 Tailwind v2 has been released and I think we should go for it to be just in time with the styling and tooling improvements it has introduced.

[2021-03-01 14:40] tiagostutz commented on #116
Hi @Bc-coding ! 👋🏻
Welcome to Stop Analyzing. Thanks for offering help! =)

Would do you think about tackling one of #118 or #95 or #94?

[2021-03-01 14:41] tiagostutz commented on #113
Hi there @RidamGarg ! Sorry for the late response.

How about the issue #118 ? Would you like to try it out?

[2021-03-01 15:44] TD-17 commented on #115
Yeah I would like to tackle this issue ! Will you assign me this ?

[2021-03-01 17:50] tiagostutz commented on #115
Sure, you just need comment on the #94 for me to be able to assign it to you and I'm doing this right away.!

[2021-03-01 19:04] TD-17 commented on #94
Will you please assign this issue to me ?

[2021-03-01 19:15] tiagostutz commented on #94
Sure, just assigned! Go ahead.!
Thanks!

[2021-03-01 19:15] #115 closed

[2021-03-02 18:46] RidamGarg commented on #118
Yes,I want to solve this issue

[2021-03-02 19:16] RidamGarg commented on #113
Yes, I want to solve this issue

[2021-03-02 19:18] tiagostutz commented on #118
Nice!
I have just assigned the issue to you.

If you need any assistance, please comment here.

[2021-03-03 18:33] RidamGarg commented on #113
Sir, Sorry to say that my college exams have started so, I am unable to work on this. Please assign this issue to anyone else.
I will definitely solve more and more issues after my exams get over.
Thank You.

[2021-03-03 18:34] RidamGarg commented on #118
Sir, Sorry to say that my college exams have started so, I am unable to work on this. Please assign this issue to anyone else.
I will definitely solve more and more issues after my exams get over.
Thank You.

[2021-03-03 20:57] adam-p-git commented on #118
Hi!
I'd like to take on this issue.

[2021-03-03 21:23] tiagostutz commented on #118
Nice, @RidamGarg ! Thanks for releasing the issue.
When you are ready to tackle more issues, we are here waiting for you.

Good luck on your exams! =)

[2021-03-03 21:24] tiagostutz commented on #118
Hi @adam-p-git ! 👋🏻
Welcome to stop analyzing.! Thanks for offering help.

I have just assigned the issue to you. If you need any assistance, please comment here.

[2021-03-04 00:13] PedroEnciso opened #120 "I want to contribute"
Hi! I'd like to contribute to the front-end of this project. Are there any issues I can help with?

[2021-03-05 04:10] tiagostutz commented on #56
Ho there @otatadeabigail I just noticed that this issue has already been done.

Are you interested in another issue?

[2021-03-05 04:10] #56 closed

[2021-03-05 04:10] #118 closed

[2021-03-05 04:11] #113 closed

[2021-03-05 04:12] tiagostutz commented on #120
Hi @PedroEnciso ! 👋🏻
Welcome to Stop Analyzing. Thanks for offering help! =)

Would do you think about tackling one of #95 or #94?

[2021-03-05 20:36] adam-p-git commented on #94
May I take on this one as well?

[2021-03-05 21:19] tiagostutz commented on #94
Sure @adam-p-git !
Go ahead. Just assigned to you.!

[2021-03-05 21:36] adam-p-git commented on #94
@tiagostutz Would it be okay if I rewrite fetching logic with the help of react-query and hooks? Also I have a suggestions to change /choice endpoint into /choices, I think that is more suitable.

[2021-03-05 21:41] tiagostutz commented on #94
Absolutely, go ahead. You can implement and we can discuss this, if needed, in the PR.

Awesome.!

[2021-03-12 10:41] Dythic opened #123 "I want to contribute"
Hello, I saw your project and I want to contribute. I have technical skills in Front and Back but I have never contributed to a project

[2021-03-12 13:09] tiagostutz commented on #123
Hi @Dythic 👋🏻 ! Welcome to Stop Analyzing.!
Thanks for offering help.

Would do you think about tackling one of #72 or #95?

[2021-03-12 13:50] Dythic commented on #123
Thank you, I think I start with #95

[2021-03-12 13:54] MDPuneethReddy opened #124 "I want to Contribute"

[2021-03-12 13:59] MDPuneethReddy commented on #124
Hello I am puneeth, I would Like to contibute it would be my first contribution

[2021-03-19 07:53] Dythic commented on #123
Hello, I am working on the problem, but I am afraid of going in the wrong direction. From what I understood the goal is to improve the API so that it returns plants randomly ?

[2021-03-23 12:28] tiagostutz commented on #123
Hi there @Dythic !! Sorry for the late response... to be fare I didn't receive this notification.
Yes, you are correct about the main goal. BTW, thanks for you PR, let's discuss the details there, but as I could see that was a great PR! 😉

[2021-03-23 12:29] #123 closed

[2021-03-23 12:29] tiagostutz commented on #124
Hi @MDPuneethReddy  👋🏻 ! Welcome to Stop Analyzing.!
Thanks for offering help.

Would do you think about tackling one of #72?

[2021-03-23 15:54] MDPuneethReddy commented on #72
Hi, I have 2 doubts
1) Should I implement frontend or connection with state,
2) Getting Error like below while running "npm run dev",

'REACT_APP_BACKEND_URL' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! stop-analyzing-embed@0.2.0 dev: `REACT_APP_BACKEND_URL=http://localhost:8008 yarn start`
npm ERR! Exit s

[2021-03-26 12:08] Mellowan commented on #124
Hello I'm mellowan and I would love to contribute, I'm a first timer

[2021-03-26 21:35] tiagostutz commented on #124
Hi @Mellowan  👋🏻 ! Welcome to Stop Analyzing.!

Would do you think about tackling #72?

[2021-04-02 16:05] MDPuneethReddy commented on #124
Hi , Can I know what we have to do in branch #72 ?

[2021-04-28 18:12] sapgit97 opened #129 "I would like to contribute"
Hi I am new to open source. I would like to start contributing. It would be great if you could find  task for me.

[2021-04-29 21:35] tiagostutz commented on #72
Hi @MDPuneethReddy !
1. Frontend only
2. What is your environment (OS, node version...)?

[2021-04-29 21:35] #116 closed

[2021-04-29 21:36] tiagostutz commented on #120
Hi @N-coder-bot !
Would you be interested in checking the https://github.com/bancodobrasil/stop-analyzing-embed/issues/72 out?

[2021-04-29 21:36] #124 closed

[2021-04-29 21:38] tiagostutz commented on #129
Hi @sapgit97 !
What about tackling https://github.com/bancodobrasil/stop-analyzing-embed/issues/95? Want to give it a try?

[2021-04-29 21:38] #41 closed

[2021-04-30 06:57] sapgit97 commented on #129
Hi, from what I understood going through the linked issues, it would be something like this:

`router.get("/choice", (req, res) => {
  // retrieving query parameters
  const queries = req.query;
  const previousChoices = queries && queries.previous;
  const count = (queries && queries.count) || 2;

  // calculating matched choices
  const matchedChoices = getMatchedChoices(previousChoices, count);

[2021-05-02 16:41] sapgit97 commented on #129
Hi @tiagostutz any comments?

[2021-05-02 17:25] tiagostutz commented on #129
Hi @sapgit97! Sorry for the late response...

You could return a 400 (Bad Request)

Nope, this is just a mock function, don't need any logic. You can randomly return the result. The actual API is being built here: https://github.com/bancodobrasil/stop-analyzing-api. BTW, if you are interested in contributing on a Golang project, you could tackle some issues there.

[2021-05-02 17:26] tiagostutz commented on #72
Awesome.! Do you have any experience with React, HTML/CSS? You could begin bringing the project up and running locally. Tell me if you have problems with that.

[2021-05-02 21:28] sapgit97 commented on #129
Hi @tiagostutz, added PR #130.

[2021-05-03 17:58] tiagostutz commented on #72
Awesome!
You can start following the REAMDE instructions on how to run the project locally.

[2021-05-07 19:21] #95 closed

[2021-05-18 06:35] deepaahuja92 commented on #120
Hello! I am Deepa Ahuja and I like frontend development.I know  HTML,,CSS AND JAVASCRIPT and basics of Reactjs.I want to contribute in the issues please can you assign me some issues.

[2021-05-19 05:53] AkshithaReddy1899 commented on #129
Hi. this is Akshitha, a newbie. I am comfortable working with HTML, CSS, and javascript. is there any issue that I can solve or help with?

[2021-05-21 17:31] shivam-0510 opened #134 "I want to contribute."
Hi I am Shivam Gupta, I am new to open source. I would like to start contributing. It would be great if you could find task for me.

[2021-05-27 16:40] poly4concept opened #135 "Asking for a task"
Hi all, I would love to contribute to this project, but I'm kinda new to opensource.
Following the contributing guidelines, I've forked, cloned the project, and have it running locally on my system.
I can contribute with HTML, CSS, and React. I'll appreciate it if the I'm being assigned a task

[2021-06-01 07:19] omnaladkar commented on #72
i want to contribute can u share issues related html,css,js

[2021-06-05 15:25] AmandeepSingh285 commented on #72
Hi, @tiagostutz I am Amandeep and I am preparing for GSOC next year. I would like to contribute in any open source project in HTML, CSS or Javascript. Could you share some beginner issues that I could solve?

[2021-06-17 14:36] Sarfraz-droid commented on #72
Hi, @tiagostutz  I am Sarfraz. I would like to contribute to any open source project in HTML, CSS, and JS and also familiar with the basics of react js as well.. are there any issues for me?

[2021-06-22 20:32] tiagostutz commented on #72
Hi there @omnaladkar  and @AmandeepSingh285  ! 👋🏻
Welcome to stop analyzing.!

Let's get something for you to tackle. Have you read the README instructions? Were you able to bring the project up and running? Need some help with that?
That's the first step, to put the project running and then let's tackle some issues. Ok?

[2021-06-22 20:34] tiagostutz commented on #134
Hi there @shivam-0510  ! 👋🏻
Welcome to stop analyzing.!

First of all sorry sorry for the laaaaate response

Let's get something for you to tackle. Have you read the README instructions? Were you able to bring the project up and running? Need some help with that?
Please let me know as soon as you put the project running locally and then let's tackle some issues. Ok?

[2021-06-22 20:34] tiagostutz commented on #129
Hi there @AkshithaReddy1899   ! 👋🏻
Welcome to stop analyzing.!

First of all sorry sorry for the laaaaate response

Let's get something for you to tackle. Have you read the README instructions? Were you able to bring the project up and running? Need some help with that?
Please let me know as soon as you put the project running locally and then let's tackle some issues. Ok?

[2021-06-22 20:36] tiagostutz commented on #135
Hi there @AkshithaReddy1899   ! 👋🏻
Welcome to stop analyzing.!

First of all sorry sorry for the laaaaate response.

Good to know that you have already forked the repo and is aware of the Open Source best practices. 🥇 🥇 🥇 !!

Let's get something for you to tackle. Have you read the README instructions? Were you able to bring the project up and running? Need some help with that?
Please let me know

[2021-06-22 20:38] tiagostutz commented on #120
Hi there @deepaahuja92  ! 👋🏻
Welcome to stop analyzing.!

First of all sorry sorry for the laaaaate response.

Let's get something for you to tackle. Have you read the README instructions? Were you able to bring the project up and running? Need some help with that?
Please let me know as soon as you put the project running locally and then let's tackle some issues. Ok?

[2021-06-25 13:10] AkshithaReddy1899 commented on #135
Hello @tiagostutz . I have gone through every instruction in the README, and the project is running locally. I am ready for a task.

[2021-06-25 18:04] #120 closed

[2021-06-25 18:05] #129 closed

[2021-06-25 18:06] tiagostutz commented on #135
Awesome @AkshithaReddy1899 !! ❤️

What about tackling https://github.com/bancodobrasil/stop-analyzing-embed/issues/72 ?
Of course, we can discuss more in detail in the issue if you wish so...

[2021-06-27 07:49] AkshithaReddy1899 commented on #135
Hi! @tiagostutz . I would love to work on it.
To my understanding,  I have to style the like mode choice card using tailwind CSS and add a close button to it as well. Is that it?

[2021-06-29 10:57] tiagostutz commented on #135
Yeah, and there's some more things for us to discuss about, but that's a good start.

Let's bring the discussion to the issue so all the content related to it is registered there? If you agree, please copy your last comment there and I'll answer giving some more directions. Sounds good?

[2021-06-29 11:25] AkshithaReddy1899 commented on #72
Hi! @tiagostutz. I would love to work on it.
To my understanding, I have to style the like mode choice card using Tailwind CSS and add a close button to it as well. Is that it?

[2021-07-01 01:06] tiagostutz commented on #72
Hi @accordingtoherr !!
Part of... the interaction of the like mode is different from the choose mode. In the choose mode, you have 2 options and select the one that you prefer. In the "like mode" the user is presented just one option and he/she will like or deslike this option. So, there's some interaction change and it is a good idea to break these two types of interactions in different component

[2021-07-03 06:50] Ayush2020012016 commented on #135
hello sir I will like to contribute but don't know how to start can you help me with it

[2021-07-03 06:52] Ayush2020012016 commented on #135
hello @tiagostutz  I will like to contribute but don't know how to start can you help me with it

[2021-07-05 10:11] shivam-0510 commented on #134
Yes,Ok

[2021-07-17 10:44] AkshithaReddy1899 commented on #72
hi, @tiagostutz  can I start working on styling the like mode??

[2021-07-17 10:57] tiagostutz commented on #72
Absolutely! Go ahead and let me know if you have any issues... =)

[2021-07-19 16:34] AkshithaReddy1899 commented on #72
Hi @tiagostutz  I have a couple of questions
1. Do I have to use tailwind css or normal css would work fine?
2. Since main.css file is incredibly large, can I create another css file to style the like mode card, if not please specify what file I can use.
3. Is there any finished card that I can look upto for reference.

[2021-07-19 16:35] AkshithaReddy1899 commented on #72
Hi @tiagostutz I have a couple of questions

1. Do I have to use tailwind css or normal css would work fine?

2. Since main.css file is incredibly large, can I create another css file to style the like mode card, if not please specify which file I can use.

3. Is there any finished card that I can look upto for reference.

[2021-08-12 00:45] marooncoder09 commented on #135
hello @tiagostutz I would like to contribute to this project  can you please help me get started

[2021-08-30 08:01] SaiNarra8 opened #140 "I want to Contribute to this Project"
Hey I am preparing for GSOC so I want to contribute to this project.
I am comfortable in HTML/CSS and have a working knowledge of JavaScript

[2021-09-04 10:24] govind2404 commented on #134
Hey! I am Govind I am beginner at open source and I want to contribute to this project. Please help me to get started.

[2021-09-04 10:25] govind2404 commented on #140
Hey! I am Govind I am beginner at open source and I want to contribute to this project. Please help me to get started.

[2021-09-27 17:46] Antonio-Riccelli opened #142 "Hey! I'd love to contribute."
Hi everyone,

As per title, I'd love to contribute and help with any issues or tasks.

I'm comfortable with HTML, CSS, Javascript and have a basic understanding of SASS, Bootstrap and PostgreSQL.

Thanks
Antonio

[2021-09-28 03:58] tiagostutz commented on #142
Hi @Antonio-Riccelli ! Welcome to Stop Analyzing.!!

I'have some issues to give a heads up, but after I ran onto them I'll come back and will create one for you. Maybe by this Friday on my "Open Source Friday". Cool?

[2021-09-28 06:31] Antonio-Riccelli commented on #142
Hey @tiagostutz,
Thank you for getting back to me, that would be perfect!

[2021-10-08 05:16] TanayD304 commented on #135
Hey @tiagostutz 4, I would like to contribute to this project. But this is my first dive in the ocean of Open source. So please can you help me initally. Thanks in advance

[2021-10-08 17:22] tiagostutz commented on #135
Hi guys! Thanks for reaching out...

Unfortunately I'm not a maintainer of this project anymore so I cannot help with this. Maybe @andrebreves or @ralphg6 could give some help here?

Also, I have a project I've built for newcomers, if you want to give a try also: https://github.com/tiagostutz/demo-warehouse-software/issues

[2021-10-11 00:51] fernandoperigolo opened #144 "I`m here to help"
I`m Fernando from RJ/Brazil. Since 2007 coding websites, but first time in open source projects. Comfortable with HTML and CSS. Came here from Hacktoberfest

[2021-10-15 04:25] Abhishek332 commented on #134
Hey ! I am Abhishek. I am new to Open Source and want to start contributing, not know how to get into it. Please help me to get started.

[2021-10-18 13:05] #144 closed, assigned to nobody

[2021-10-20 14:10] #134 closed

[2021-11-22 11:19] rajaditya28 commented on #72
Hey @tiagostutz
Can you assign an issue for me to work on ?
It would be great to start with HTML, CSS, Bootstrap, JS

[2021-12-24 12:55] ArashST79 commented on #72
Hi. I'm looking for couple of issues for solving for my midterm university project. I wonder if you can help me to do some
easy one's. I'm a beginner html,css developer so the topic I want is html and css.
@tiagostutz I would appreciate if you can help me out

[2022-01-19 12:27] Devansh-365 opened #146 "I liked to contribute to this project"
Hey, I am interested in contributing to this project.
I am comfortable with:
➡ HTML
➡ CSS
➡ javascript
➡ ReactJs
➡ NextJs
➡ MaterialUi
➡ TailwindCss

[2022-02-20 06:11] sahilbutola08 opened #150 "I want to contribute"
Hi, I am Sahil. I am a computer science undergrad. I am good with HTML, CSS and JavaScript. I would like to contribute in the frontend tasks.

[2022-04-10 19:08] premsagarkushwaha commented on #72
Hi, i am prem and I am newbie in issue solving or i can say i want to start my journey from here. So, can you provide me some issue so that i can solve them? I am looking for webdesigning issue as I am starting from easy one.

[2022-06-23 13:11] kenekc18 opened #156 "i want to contribute"
Hello my name is Kene, i am new to open source contribution and i would like to contribute to this project

[2022-06-26 20:19] fernandounger opened #157 "I would like to contribute."
Hello, I am a beginner in open source and Want to contribute to this project in tasks such as front end.

I'm comfortable with HTML, CSS, JavaScript, Bootstrap and SASS.

[2022-07-13 16:55] ghost commented on #72
@tiagostutz is this issue still open?
 I would love to contribute.

[2022-08-29 20:14] Vishrut19 commented on #72
Hey Folks! Is anyone working on this ? I would like to contribute. Can take the issue or if anyone is assigned or working on this issue I can help them

[2022-09-03 05:28] Vishrut19 opened #159 "I would like to contribute"
Hello, I am a beginner in open source and Want to contribute to this project in tasks such as front end,back end .

Front End -  HTML, CSS, JavaScript, Bootstrap and SASS.
Back End -  Basics of Python, Intermediate Level Java